.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 456px;
  max-width: 456px;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 40px;
}
@media (max-width: 1280px) {
  .root {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1280px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 960px) {
  .root {
    min-width: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 960px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (max-width: 960px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
@media (max-width: 800px) {
  .root {
    min-width: 0px;
    display: inline-flex;
    flex-direction: column;
    width: auto;
    max-width: 601px;
    height: auto;
  }
}
@media (max-width: 800px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (max-width: 800px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
@media (max-width: 520px) {
  .root {
    width: 100%;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    max-width: 601px;
  }
}
@media (max-width: 520px) {
  .root > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (max-width: 520px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
.root__caption {
  height: auto;
  width: 100%;
  min-width: 0;
}
.root__caption > :global(.__wab_flex-container) {
  min-width: 0;
}
.copy2 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.copy2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.copy2 > :global(.__wab_flex-container) > *,
.copy2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy2 > :global(.__wab_flex-container) > picture > img,
.copy2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (max-width: 800px) {
  .copy2 {
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (max-width: 800px) {
  .copy2 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 800px) {
  .copy2 > :global(.__wab_flex-container) > *,
  .copy2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .copy2 > :global(.__wab_flex-container) > picture > img,
  .copy2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
@media (max-width: 520px) {
  .copy2 {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
    min-width: 0;
  }
}
@media (max-width: 520px) {
  .copy2 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 520px) {
  .copy2 > :global(.__wab_flex-container) > *,
  .copy2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .copy2 > :global(.__wab_flex-container) > picture > img,
  .copy2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.heading11 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.heading11 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.heading11 > :global(.__wab_flex-container) > *,
.heading11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.heading11 > :global(.__wab_flex-container) > picture > img,
.heading11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotTargetChildren {
  font-weight: 600;
  font-family: Roobert;
  font-size: 1.25rem /* plasmic-token: PY3Hc8Lr0BvSl */;
  line-height: 1.75rem /* plasmic-token: 57rI8Gh0DG5fU */;
  color: #8a8a8a /* plasmic-token: i_nWIql8xUFNS */;
}
@media (max-width: 960px) {
  .slotTargetChildren {
    font-weight: 600;
    font-family: Roobert;
    font-size: 1.25rem /* plasmic-token: PY3Hc8Lr0BvSl */;
    line-height: 1.75rem /* plasmic-token: 57rI8Gh0DG5fU */;
    color: #8a8a8a /* plasmic-token: i_nWIql8xUFNS */;
  }
}
@media (max-width: 800px) {
  .slotTargetChildren {
    font-family: Roobert;
    font-weight: 600;
    font-size: 1rem /* plasmic-token: fZouCU5czDz-R */;
    line-height: 1.5rem;
    color: #8a8a8a /* plasmic-token: i_nWIql8xUFNS */;
  }
}
@media (max-width: 520px) {
  .slotTargetChildren {
    font-family: Roobert;
    font-weight: 600;
    font-size: 1rem /* plasmic-token: fZouCU5czDz-R */;
    line-height: 1.5rem;
    color: #8a8a8a /* plasmic-token: i_nWIql8xUFNS */;
  }
}
.slotTargetSlot {
  font-family: Roobert;
  font-weight: 600;
  font-size: 1.5rem /* plasmic-token: UwEtUtVCTxzAc */;
  line-height: 2rem /* plasmic-token: KxpeV-D3olUUT */;
  letter-spacing: 0px;
  color: #181818 /* plasmic-token: HiHmSIXx2eHbj */;
}
@media (max-width: 960px) {
  .slotTargetSlot {
    font-family: Roobert;
    font-weight: 600;
    font-size: 1.5rem /* plasmic-token: UwEtUtVCTxzAc */;
    line-height: 2rem /* plasmic-token: KxpeV-D3olUUT */;
    letter-spacing: 0px;
    color: #181818 /* plasmic-token: HiHmSIXx2eHbj */;
  }
}
@media (max-width: 800px) {
  .slotTargetSlot {
    font-family: Roobert;
    font-weight: 600;
    font-size: 1.13rem /* plasmic-token: Ph5eB48PW4HTW */;
    line-height: 1.5rem;
    color: #181818 /* plasmic-token: HiHmSIXx2eHbj */;
  }
}
@media (max-width: 520px) {
  .slotTargetSlot {
    font-family: Roobert;
    font-weight: 600;
    font-size: 1.13rem /* plasmic-token: Ph5eB48PW4HTW */;
    line-height: 1.5rem;
    color: #181818 /* plasmic-token: HiHmSIXx2eHbj */;
  }
}
.slotTargetSlot2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem /* plasmic-token: 0BevPDDGAEQe_ */;
  line-height: 1.5rem /* plasmic-token: QKQMM9fdGzQQ_ */;
  color: #8a8a8a /* plasmic-token: i_nWIql8xUFNS */;
  text-align: left;
}
@media (max-width: 960px) {
  .slotTargetSlot2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem /* plasmic-token: 0BevPDDGAEQe_ */;
    line-height: 1.5rem /* plasmic-token: QKQMM9fdGzQQ_ */;
    color: #8a8a8a /* plasmic-token: i_nWIql8xUFNS */;
    text-align: left;
  }
}
@media (max-width: 800px) {
  .slotTargetSlot2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem /* plasmic-token: 0BevPDDGAEQe_ */;
    line-height: 1.5rem /* plasmic-token: QKQMM9fdGzQQ_ */;
    color: #8a8a8a /* plasmic-token: i_nWIql8xUFNS */;
    text-align: left;
  }
}
@media (max-width: 520px) {
  .slotTargetSlot2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem /* plasmic-token: 0BevPDDGAEQe_ */;
    line-height: 1.5rem /* plasmic-token: QKQMM9fdGzQQ_ */;
    color: #8a8a8a /* plasmic-token: i_nWIql8xUFNS */;
    text-align: left;
  }
}
