.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: auto;
  max-width: 100vw;
  min-height: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
@media (max-width: 960px) {
  .root > :global(.__wab_flex-container) {
    align-items: stretch;
  }
}
.freeBox___2NzgM {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
  flex-shrink: 1;
  min-width: auto;
  overflow: hidden;
  min-height: 497px;
  max-width: 100vw;
  padding: 0px;
}
.freeBox___2NzgM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox___2NzgM > :global(.__wab_flex-container) > *,
.freeBox___2NzgM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2NzgM > :global(.__wab_flex-container) > picture > img,
.freeBox___2NzgM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (max-width: 960px) {
  .freeBox___2NzgM {
    height: 540px;
    min-height: auto;
    align-self: flex-start;
    flex-direction: row;
    flex-shrink: 0;
  }
}
@media (max-width: 960px) {
  .freeBox___2NzgM > :global(.__wab_flex-container) {
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 960px) {
  .freeBox___2NzgM > :global(.__wab_flex-container) > *,
  .freeBox___2NzgM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2NzgM > :global(.__wab_flex-container) > picture > img,
  .freeBox___2NzgM
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
@media (max-width: 800px) {
  .freeBox___2NzgM {
    overflow: auto;
    height: 492px;
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .freeBox___2NzgM {
    height: 300px;
    flex-shrink: 0;
  }
}
.left {
  display: block;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 47.5%;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (max-width: 1280px) {
  .left {
    width: 35%;
  }
}
@media (max-width: 960px) {
  .left {
    width: 72px;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-column-gap: 0px;
    flex-shrink: 0;
    padding: 0px;
  }
}
.freeBox__eld7 {
  display: block;
  position: absolute;
  width: 100%;
  height: 80%;
  max-width: 350px;
  left: auto;
  top: 10%;
  background: url("/plasmic/copy_of_cardless_com/images/_8Jpeg.jpeg") top 50% right 0px / cover repeat;
  right: 0px;
  min-width: 0;
  padding: 0px;
}
.leftOverlay {
  display: block;
  position: absolute;
  width: 115%;
  height: 110%;
  left: auto;
  top: -5%;
  filter: blur(5px);
  background: radial-gradient(
      ellipse 90% 50% at 100% 50%,
      #181818e6 31%,
      #181818 100%
    )
    0% 0% / 100% 100% repeat;
  margin-left: -1%;
  right: -10%;
  max-width: 401px;
  padding: 0px;
}
@media (max-width: 960px) {
  .leftOverlay {
    width: 140%;
    right: -20%;
    display: block;
  }
}
._1440Fill {
  display: block;
  position: absolute;
  width: 115%;
  height: 110%;
  left: -398px;
  top: 0px;
  filter: blur(5px);
  background: linear-gradient(#181818, #181818),
    radial-gradient(ellipse 90% 50% at 100% 50%, #181818e6 31%, #181818 100%) 0%
      0% / 100% 100% repeat;
  margin-left: -1%;
  padding: 0px;
}
@media (max-width: 960px) {
  ._1440Fill {
    width: 140%;
    right: -20%;
    display: block;
  }
}
.center {
  display: block;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 742px;
  height: auto;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 24px;
  padding: 0px;
}
@media (max-width: 1280px) {
  .center {
    width: 742px;
    flex-shrink: 0;
  }
}
@media (max-width: 960px) {
  .center {
    width: 85%;
    border-radius: 16px;
  }
}
@media (max-width: 800px) {
  .center {
    width: 100%;
    min-width: 0;
    border-radius: 0px;
  }
}
.freeBox__tnQf {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  background: url("/plasmic/copy_of_cardless_com/images/retailHeroCompressedjpg.jpeg") top 50% left 50% / cover repeat;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.right {
  display: block;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 47.5%;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (max-width: 1280px) {
  .right {
    width: 35%;
  }
}
@media (max-width: 960px) {
  .right {
    width: 72px;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-column-gap: 0px;
    flex-shrink: 0;
    padding: 0px;
  }
}
.freeBox__i41Si {
  display: block;
  position: absolute;
  width: 100%;
  height: 80%;
  max-width: 349px;
  left: 0px;
  top: 10%;
  background: url("/plasmic/copy_of_cardless_com/images/_2Jpeg.jpeg") top 50% left 0px / cover repeat;
  min-width: 0;
  padding: 0px;
}
.rightOverlay {
  display: block;
  position: absolute;
  width: 115%;
  height: 110%;
  left: -10%;
  top: -5%;
  filter: blur(5px);
  background: radial-gradient(
      ellipse 90% 50% at 0% 50%,
      #181818e6 31%,
      #181818 100%
    )
    0% 0% / 100% 100% repeat;
  max-width: 401px;
  padding: 8px;
}
@media (max-width: 960px) {
  .rightOverlay {
    width: 140%;
    height: 110%;
    background: radial-gradient(
        ellipse 90% 50% at 0% 50%,
        #181818e6 31%,
        #181818 100%
      )
      0% 0% / 100% 100% repeat;
    left: -20%;
    display: block;
    padding: 8px;
  }
}
._1440Fill2 {
  display: block;
  position: absolute;
  width: 115%;
  height: 110%;
  left: auto;
  top: 0px;
  filter: blur(5px);
  background: #181818;
  margin-left: -1%;
  right: -400px;
  padding: 0px;
}
@media (max-width: 960px) {
  ._1440Fill2 {
    width: 140%;
    right: -20%;
    display: block;
  }
}
.freeBox__oJmWt {
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
  width: 742px;
  padding: 0px;
}
.freeBox__oJmWt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__oJmWt > :global(.__wab_flex-container) > *,
.freeBox__oJmWt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oJmWt > :global(.__wab_flex-container) > picture > img,
.freeBox__oJmWt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (max-width: 1280px) {
  .freeBox__oJmWt {
    width: 742px;
    padding: 0px;
  }
}
@media (max-width: 960px) {
  .freeBox__oJmWt {
    width: 100%;
    padding-left: 72px;
    padding-right: 72px;
    max-width: none;
    min-width: 0;
  }
}
@media (max-width: 960px) {
  .freeBox__oJmWt > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 800px) {
  .freeBox__oJmWt {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-self: center;
    flex-direction: column;
    min-width: 0;
    padding: 0px 96px 0px 48px /* plasmic-token: WBKikx3WJ22Ex */;
  }
}
@media (max-width: 800px) {
  .freeBox__oJmWt > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 800px) {
  .freeBox__oJmWt > :global(.__wab_flex-container) > *,
  .freeBox__oJmWt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oJmWt > :global(.__wab_flex-container) > picture > img,
  .freeBox__oJmWt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 520px) {
  .freeBox__oJmWt {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-self: center;
    flex-direction: column;
    min-width: 0;
    padding: 0px 96px 0px 48px /* plasmic-token: wNyVXTBE2tkc7 */;
  }
}
@media (max-width: 520px) {
  .freeBox__oJmWt > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 520px) {
  .freeBox__oJmWt > :global(.__wab_flex-container) > *,
  .freeBox__oJmWt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oJmWt > :global(.__wab_flex-container) > picture > img,
  .freeBox__oJmWt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
@media (max-width: 414px) {
  .freeBox__oJmWt {
    padding: 0px 24px /* plasmic-token: QrHHsoyWKPUR4 */;
  }
}
.freeBox__a8Ld2 {
  display: flex;
  flex-grow: 1;
  position: relative;
  align-self: auto;
  flex-direction: row;
}
@media (max-width: 960px) {
  .freeBox__a8Ld2 {
    display: flex;
    flex-grow: 1;
    position: relative;
    align-self: auto;
    flex-direction: row;
    flex-row-gap: 0px;
  }
}
.slotTargetTitle {
  font-family: Roobert;
  font-weight: 600;
  font-size: 1.5rem /* plasmic-token: UwEtUtVCTxzAc */;
  line-height: 2rem /* plasmic-token: KxpeV-D3olUUT */;
  letter-spacing: 0px;
  color: #f4f4f4 /* plasmic-token: kFDOlCxsPFPmS */;
}
.freeBox__eUzit {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 360px;
  min-width: 0;
}
@media (max-width: 800px) {
  .freeBox__eUzit {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 360px;
    min-width: 0;
  }
}
@media (max-width: 520px) {
  .freeBox__eUzit {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 360px;
    min-width: 0;
  }
}
.slotTargetBody {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem /* plasmic-token: 0BevPDDGAEQe_ */;
  line-height: 1.5rem /* plasmic-token: QKQMM9fdGzQQ_ */;
  color: #8a8a8a /* plasmic-token: 6AFNYzDwEMAUg */;
  letter-spacing: 0px;
}
@media (max-width: 1280px) {
  .slotTargetBody {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(137, 137, 137, 1);
    line-height: 24px;
    letter-spacing: 0px;
  }
}
@media (max-width: 800px) {
  .slotTargetBody {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(137, 137, 137, 1);
    line-height: 24px;
    letter-spacing: 0px;
  }
}
@media (max-width: 520px) {
  .slotTargetBody {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(137, 137, 137, 1);
    line-height: 24px;
    letter-spacing: 0px;
  }
}
