.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  background: none;
  overflow: visible;
  max-height: 416px;
  position: relative;
  border-radius: 32px;
}
@media (max-width: 1280px) {
  .root {
    width: auto;
    height: auto;
    max-height: 416px;
    background: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-row-gap: 0px;
    display: inline-flex;
    border-radius: 32px;
  }
}
@media (max-width: 960px) {
  .root {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    height: auto;
    background: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    max-height: 580px;
    overflow: visible;
    padding-left: 0px;
    transform: perspective(0px) scaleX(0.9) scaleY(0.9) scaleZ(1);
    transform-origin: 100% 100%;
    backface-visibility: visible;
    perspective: 620px;
    perspective-origin: 50% 50%;
    flex-row-gap: 0px;
    transform-style: preserve-3d;
  }
}
@media (max-width: 960px) {
  .root * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 800px) {
  .root {
    background: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: auto;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    max-height: 580px;
    overflow: visible;
    transform: scaleX(0.8) scaleY(0.8) scaleZ(1);
    transform-origin: 50% 50%;
    flex-row-gap: 0px;
    transform-style: preserve-3d;
  }
}
@media (max-width: 800px) {
  .root * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 520px) {
  .root {
    background: none;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: auto;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    max-height: 580px;
    overflow: visible;
    transform: scaleX(0.7) scaleY(0.7) scaleZ(1);
    flex-row-gap: 0px;
    transform-style: preserve-3d;
  }
}
@media (max-width: 520px) {
  .root * {
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .root {
    transform: scaleX(0.6) scaleY(0.6) scaleZ(1);
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .root * {
    transform-style: preserve-3d;
  }
}
.uiIllustration {
  width: 528px;
  height: 368px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 16px;
}
@media (max-width: 960px) {
  .uiIllustration {
    width: 528px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 16px;
  }
}
.uiIllustration__scene_scene2 {
  display: none;
}
.uiIllustration__scene_scene3 {
  display: none;
}
.uiIllustration__scene_scene4 {
  display: none;
}
.uiIllustration__scene_scene5 {
  display: none;
}
.frame3606 {
  background: linear-gradient(
        91deg,
        #4b4b4b 34%,
        #2a2a2a59 40%,
        #ffffff40 50%,
        rgba(180, 180, 180, 0) 97%
      )
      0% 0% / 100% 100% no-repeat,
    rgba(239, 2, 2, 1);
  width: 357px;
  height: 238px;
  display: block;
  position: absolute;
  top: 130px;
  left: 171px;
  overflow: hidden;
  border-radius: 17.467px;
}
.frame3606__scene_scene3 {
  padding-top: 0px;
}
.name {
  opacity: 0.699;
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 83.19%;
  left: 62.46%;
}
.redLogoAsset1 {
  width: 25px;
  height: 32px;
  display: block;
  position: absolute;
  top: 24px;
  left: 309px;
  overflow: hidden;
}
.layer2 {
  transform: translate(-0.001px, 0px);
  width: 25px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__oDgvA {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24.242px;
  height: 31.999px;
  display: block;
  top: 0px;
  left: 0px;
}
.carNumber {
  background: rgba(255, 255, 255, 0.2);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 103px;
  left: 23px;
  flex-direction: row;
  border-radius: 8px;
  padding: 8px 12px;
}
.carNumber > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.carNumber > :global(.__wab_flex-container) > *,
.carNumber > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.carNumber > :global(.__wab_flex-container) > picture > img,
.carNumber
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.name2 {
  opacity: 0.699;
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.front {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 2px 4px rgba(146, 146, 146, 0.25))
    drop-shadow(0px 2px 4px rgba(157, 157, 157, 0.25));
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 10px;
  left: 16px;
  flex-direction: column;
  padding: 24px;
}
.front > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.front > :global(.__wab_flex-container) > *,
.front > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.front > :global(.__wab_flex-container) > picture > img,
.front > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.front__scene_scene2 {
  padding-right: 0px;
}
.balance {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
}
.balance > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.balance > :global(.__wab_flex-container) > *,
.balance > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.balance > :global(.__wab_flex-container) > picture > img,
.balance
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__fCeQ {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.text__gLlfS {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.freeBox__cGQbK {
  display: block;
  position: relative;
  width: 267.732px;
  height: 162.10599999999997px;
  flex-shrink: 0;
}
.photo {
  background: url("/plasmic/copy_of_cardless_com/images/photo.jpeg") -3.0143149284253576px -8.227990970654627px /
    274.0286298568507px 182.84424379232505px no-repeat;
  transform: scale(0.9990005005003751, 0.9989994994998757)
    rotate(-0.05735311348834077deg) skew(-0.0573530560218398deg, 0deg);
  width: 268px;
  height: 162px;
  display: block;
  transform-origin: top left;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 0.2680000000000007px;
  border-radius: 8px;
}
.wrapper {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 8px;
}
.wrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.wrapper > :global(.__wab_flex-container) > *,
.wrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wrapper > :global(.__wab_flex-container) > picture > img,
.wrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.button {
  background: rgba(23, 23, 23, 1);
  width: 268px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 24px;
  padding: 12px 40px;
}
.button > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__kVYlb {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.uiIllustration2 {
  width: 528px;
  height: 368px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 16px;
}
.back {
  background: rgba(255, 255, 255, 1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 96px;
  left: 228px;
  flex-direction: column;
  padding: 24px;
}
.back > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.back > :global(.__wab_flex-container) > *,
.back > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.back > :global(.__wab_flex-container) > picture > img,
.back > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.transaction {
  background: rgba(249, 249, 249, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 24px;
  padding-right: 16px;
  border-radius: 8px;
}
.content {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.freeBox__v5ZEj {
  height: 64px;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.freeBox__scene_scene2__v5ZEjnfsYc {
  display: flex;
}
.title {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(23, 23, 23, 1);
  align-self: stretch;
  position: relative;
}
.title__scene_scene2 {
  opacity: 0;
  display: block;
}
.caption {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(117, 117, 117, 1);
  align-self: stretch;
  position: relative;
}
.right {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-left: 8px;
}
.text__yuQLy {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.transaction2 {
  background: rgba(249, 249, 249, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 24px;
  padding-right: 16px;
  border-radius: 8px;
}
.content2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.text2 {
  height: 64px;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.title2 {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(23, 23, 23, 1);
  align-self: stretch;
  position: relative;
}
.caption2 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(117, 117, 117, 1);
  align-self: stretch;
  position: relative;
}
.right2 {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-left: 8px;
}
.text___9UBdw {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.transaction3 {
  background: rgba(249, 249, 249, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 24px;
  padding-right: 16px;
  border-radius: 8px;
}
.content3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.text3 {
  height: 64px;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.title3 {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(23, 23, 23, 1);
  align-self: stretch;
  position: relative;
}
.caption3 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(117, 117, 117, 1);
  align-self: stretch;
  position: relative;
}
.right3 {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-left: 8px;
}
.text__biOkE {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.front2 {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 2px 4px rgba(146, 146, 146, 0.25))
    drop-shadow(0px 2px 4px rgba(157, 157, 157, 0.25));
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 10px;
  left: 16px;
  flex-direction: column;
  padding: 24px;
}
.front2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.front2 > :global(.__wab_flex-container) > *,
.front2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.front2 > :global(.__wab_flex-container) > picture > img,
.front2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.balance2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
}
.balance2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.balance2 > :global(.__wab_flex-container) > *,
.balance2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.balance2 > :global(.__wab_flex-container) > picture > img,
.balance2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__aShZg {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.text__qfqtj {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(23, 23, 23, 1);
  position: relative;
}
.freeBox__fjDPz {
  position: relative;
  width: 267.732px;
  height: 162.10599999999997px;
  flex-shrink: 0;
  display: none;
}
.freeBox__scene_scene2__fjDPznfsYc {
  display: block;
}
.photo2 {
  background: url("/plasmic/copy_of_cardless_com/images/photo2.jpeg") 0.536px -80.59701492537312px / 268px 402.9850746268656px
    no-repeat;
  transform: scale(0.9990005005003751, 0.9989994994998757)
    rotate(-0.05735311348834077deg) skew(-0.0573530560218398deg, 0deg);
  width: 268px;
  height: 162px;
  display: block;
  transform-origin: top left;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 0.2680000000000007px;
  border-radius: 8px;
}
.wrapper2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 8px;
}
.wrapper2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.wrapper2 > :global(.__wab_flex-container) > *,
.wrapper2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wrapper2 > :global(.__wab_flex-container) > picture > img,
.wrapper2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.button2 {
  background: rgba(23, 23, 23, 1);
  width: 268px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 24px;
  padding: 12px 40px;
}
.button2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.button2 > :global(.__wab_flex-container) > *,
.button2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button2 > :global(.__wab_flex-container) > picture > img,
.button2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__eqne {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.uiIllustration3 {
  width: 528px;
  height: 368px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 16px;
}
.frame3607 {
  background: rgba(72, 72, 72, 1);
  width: 357px;
  height: 238px;
  display: block;
  position: absolute;
  top: 130px;
  left: 171px;
  overflow: hidden;
  border-radius: 17.467px;
}
.text__yAsUc {
  opacity: 0.699;
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 83.19%;
  left: 76.19%;
}
.svg__zhwvP {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 32px;
  height: 32px;
  top: 10.08%;
  left: 84.31%;
  display: none;
}
.svg__scene_scene3__zhwvP1JI78 {
  display: block;
}
.carNumber2 {
  background: rgba(255, 255, 255, 0.2);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 43.27%;
  left: 15.4%;
  flex-direction: row;
  border-radius: 8px;
  padding: 8px 12px;
}
.carNumber2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.carNumber2 > :global(.__wab_flex-container) > *,
.carNumber2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.carNumber2 > :global(.__wab_flex-container) > picture > img,
.carNumber2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__pZyoi {
  opacity: 0.699;
  display: block;
  font-size: 16px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.front3 {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 2px 4px rgba(146, 146, 146, 0.25))
    drop-shadow(0px 2px 4px rgba(157, 157, 157, 0.25));
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 316px;
  height: 272px;
  display: block;
  position: absolute;
  top: 96px;
  left: 16px;
}
.balance3 {
  width: 268px;
  height: 60px;
  display: flex;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
  flex-direction: column;
}
.balance3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.balance3 > :global(.__wab_flex-container) > *,
.balance3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.balance3 > :global(.__wab_flex-container) > picture > img,
.balance3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__etWw7 {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.text__v6L0R {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.freeBox__qv0W2 {
  background: rgba(249, 249, 249, 1);
  width: 268px;
  height: auto;
  display: flex;
  position: absolute;
  top: 100px;
  left: 24px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
}
.freeBox__vMzFv {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.freeBox__o1X5S {
  height: 64px;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.text__yJRq5 {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(23, 23, 23, 1);
  align-self: stretch;
  position: relative;
}
.text__ocDbH {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(117, 117, 117, 1);
  align-self: stretch;
  position: relative;
}
.freeBox__lIrd {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-left: 8px;
}
.off {
  width: 52px;
  height: 32px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bg {
  background: rgba(239, 2, 2, 1);
  width: 52px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100px;
}
.svg__rqvAp {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  top: 4px;
  left: 24px;
  display: none;
}
.svg__scene_scene3__rqvAp1JI78 {
  display: block;
}
.freeBox__a8Lj9 {
  background: rgba(249, 249, 249, 1);
  width: 268px;
  height: auto;
  display: flex;
  position: absolute;
  top: 180px;
  left: 24px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
}
.freeBox___94CMe {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.freeBox___6VB1S {
  height: 64px;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.text__zuBep {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(23, 23, 23, 1);
  align-self: stretch;
  position: relative;
}
.text__rtqNe {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(117, 117, 117, 1);
  align-self: stretch;
  position: relative;
}
.freeBox__cntbS {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-left: 8px;
}
.svg__c6H1M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #adadad;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  display: none;
}
.svg__scene_scene3__c6H1M1JI78 {
  display: block;
}
.uiIllustration4 {
  width: 528px;
  height: 368px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 16px;
}
.back2 {
  background: rgba(255, 255, 255, 1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 96px;
  left: 228px;
  flex-direction: column;
  padding: 24px;
}
.back2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.back2 > :global(.__wab_flex-container) > *,
.back2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.back2 > :global(.__wab_flex-container) > picture > img,
.back2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.freeBox__qoRpv {
  background: rgba(249, 249, 249, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 24px;
  padding-right: 16px;
  border-radius: 8px;
}
.freeBox__wgcG {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.freeBox___9TW9W {
  height: 64px;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.text__zRmGo {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(23, 23, 23, 1);
  align-self: stretch;
  position: relative;
}
.text__jXsug {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(117, 117, 117, 1);
  align-self: stretch;
  position: relative;
}
.freeBox__woEa2 {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-left: 8px;
}
.text__hXbvE {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.freeBox__x9EZi {
  background: rgba(249, 249, 249, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 24px;
  padding-right: 16px;
  border-radius: 8px;
}
.freeBox__rgaPt {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.freeBox___0W33 {
  height: 64px;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.text__qyPFn {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(23, 23, 23, 1);
  align-self: stretch;
  position: relative;
}
.text__dDxLs {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(117, 117, 117, 1);
  align-self: stretch;
  position: relative;
}
.freeBox___93BpV {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-left: 8px;
}
.text__zy6Dx {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.freeBox___1NMFo {
  background: rgba(249, 249, 249, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 24px;
  padding-right: 16px;
  border-radius: 8px;
}
.freeBox__rNc7I {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.freeBox__qjxdd {
  height: 64px;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.text__h8247 {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(23, 23, 23, 1);
  align-self: stretch;
  position: relative;
}
.text__scene_scene4__h8247C6Tiq {
  opacity: 0;
  display: block;
}
.text__dm3Ew {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(117, 117, 117, 1);
  align-self: stretch;
  position: relative;
}
.freeBox__ncIDf {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-left: 8px;
}
.text__aRu3G {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.front4 {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 2px 4px rgba(146, 146, 146, 0.25))
    drop-shadow(0px 2px 4px rgba(157, 157, 157, 0.25));
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 316px;
  height: auto;
  display: flex;
  position: absolute;
  top: 20px;
  left: 16px;
  flex-direction: column;
  padding: 24px;
}
.front4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.front4 > :global(.__wab_flex-container) > *,
.front4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.front4 > :global(.__wab_flex-container) > picture > img,
.front4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.balance4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
}
.balance4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.balance4 > :global(.__wab_flex-container) > *,
.balance4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.balance4 > :global(.__wab_flex-container) > picture > img,
.balance4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__yJRk {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(117, 117, 117, 1);
  position: relative;
}
.text__iy6Zt {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.notif {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 1px 4px rgba(160, 160, 160, 0.25))
    drop-shadow(0px 2px 2px rgba(200, 200, 200, 0.25));
  opacity: 0.8;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px;
}
.notif > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.notif > :global(.__wab_flex-container) > *,
.notif > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.notif > :global(.__wab_flex-container) > picture > img,
.notif > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.text___7NDyC {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 16px;
  color: rgba(137, 137, 137, 1);
  align-self: stretch;
  position: relative;
}
.text__uPAbF {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(23, 23, 23, 1);
  align-self: stretch;
  position: relative;
}
.notif2 {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 1px 4px rgba(160, 160, 160, 0.25))
    drop-shadow(0px 2px 2px rgba(200, 200, 200, 0.25));
  opacity: 0.8;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px;
}
.notif2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.notif2 > :global(.__wab_flex-container) > *,
.notif2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.notif2 > :global(.__wab_flex-container) > picture > img,
.notif2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__xibJ {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 16px;
  color: rgba(137, 137, 137, 1);
  align-self: stretch;
  position: relative;
}
.text__bLPf {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(23, 23, 23, 1);
  align-self: stretch;
  position: relative;
}
.uiIllustrationPaymentMobile {
  width: 528px;
  height: 368px;
  display: block;
  flex-shrink: 0;
  border-radius: 16px;
}
.frame3596 {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 2px 4px rgba(146, 146, 146, 0.25))
    drop-shadow(0px 2px 4px rgba(157, 157, 157, 0.25));
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 24px;
  left: 106px;
  flex-direction: column;
  border-radius: 16px;
  padding: 24px;
}
.frame3596 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame3596 > :global(.__wab_flex-container) > *,
.frame3596 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3596 > :global(.__wab_flex-container) > picture > img,
.frame3596
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.rowLabelBackground {
  width: 268px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 16px;
}
.content6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.text6 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.text__lnEAo {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  color: rgba(23, 23, 23, 1);
  align-self: stretch;
  position: relative;
}
.text__c05N {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(117, 117, 117, 1);
  align-self: stretch;
  position: relative;
}
.rectangle6797 {
  background: rgba(228, 228, 228, 1);
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.freeBox__vsNhp {
  background: rgba(255, 255, 255, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
}
.freeBox__vsNhp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__vsNhp > :global(.__wab_flex-container) > *,
.freeBox__vsNhp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vsNhp > :global(.__wab_flex-container) > picture > img,
.freeBox__vsNhp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.freeBox__mzn1E {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
}
.freeBox__mzn1E > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__mzn1E > :global(.__wab_flex-container) > *,
.freeBox__mzn1E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mzn1E > :global(.__wab_flex-container) > picture > img,
.freeBox__mzn1E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__moZzq {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(199, 199, 199, 1);
  position: relative;
}
.text__tMfgu {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.button3 {
  background: rgba(0, 0, 0, 1);
  width: 56px;
  height: 56px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 40px;
}
.text__mzIp2 {
  display: block;
  font-size: 15.701px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 23.552px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 16px;
  left: 14px;
  width: 28px;
  height: 24px;
  transform: translate(0.12700000000000067px, 0.45899999999999963px);
}
.applepayui1 {
  background: url("/plasmic/copy_of_cardless_com/images/applepayui1.png") center center / cover no-repeat;
  width: 300px;
  height: 300px;
  display: block;
  position: absolute;
  top: 92px;
  left: 114px;
}
