.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #d12b2c;
  align-self: flex-end;
  min-width: 0;
  min-height: 0;
  border-radius: 32px;
  padding: 0px 24px 0px 0px;
}
@media (max-width: 1280px) {
  .freeBox {
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    flex-row-gap: 0px;
    min-width: 0;
    min-height: 0;
    padding: 0px 24px 0px 0px;
  }
}
@media (max-width: 960px) {
  .freeBox {
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    flex-row-gap: 0px;
    min-width: 0;
    min-height: 0;
    padding: 0px;
  }
}
@media (max-width: 800px) {
  .freeBox {
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 100%;
    flex-row-gap: 0px;
    min-width: 0;
    min-height: 0;
    border-radius: 0px;
    padding: 0px;
  }
}
@media (max-width: 520px) {
  .freeBox {
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 100%;
    flex-row-gap: 0px;
    min-width: 0;
    min-height: 0;
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .freeBox {
    height: 100%;
    min-height: 0;
  }
}
.img {
  position: relative;
  height: 40vw;
  width: 40vw;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 720px;
  max-height: 720px;
  flex-shrink: 0;
  border-radius: 32px;
}
@media (max-width: 1280px) {
  .img {
    position: relative;
    object-fit: scale-down;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 2033px;
    width: 100%;
    min-height: 635px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    align-self: center;
    min-width: 0;
  }
}
@media (max-width: 1280px) {
  .img > picture > img {
    object-fit: scale-down;
  }
}
@media (max-width: 1280px) {
  .img > .__wab_img-spacer > img {
    object-fit: scale-down;
  }
}
@media (max-width: 960px) {
  .img {
    width: 100%;
    height: auto;
    position: relative;
    max-width: 465px;
    max-height: 364px;
    margin-right: 0px;
    object-fit: scale-down;
    margin-left: 0px;
    min-width: 0;
    display: inline-block !important;
  }
}
@media (max-width: 960px) {
  .img > picture > img {
    object-fit: scale-down;
  }
}
@media (max-width: 960px) {
  .img > .__wab_img-spacer > img {
    object-fit: scale-down;
  }
}
@media (max-width: 800px) {
  .img {
    width: 120vw;
    align-self: center;
    margin-left: 0px;
    min-height: 938px;
    height: 120vw;
    max-width: none;
    flex-shrink: 0;
  }
}
@media (max-width: 520px) {
  .img {
    min-height: 565px;
    height: 120vw;
    width: 120vw;
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .img {
    width: 120vw;
    height: 120vw;
    flex-shrink: 0;
  }
}
