.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 156px;
  padding-left: 156px;
  max-width: 1440px;
  background: #ffffff;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 120px);
  width: calc(100% + 120px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 120px;
}
@media (max-width: 1280px) {
  .root {
    padding-right: 108px;
    padding-left: 0px;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (max-width: 1280px) {
  .root > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1280px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 960px) {
  .root {
    max-width: 960px;
    width: 100%;
    padding-right: 72px;
    min-width: 0;
  }
}
@media (max-width: 960px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 800px) {
  .root {
    max-width: 768px;
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
    min-width: 0;
  }
}
@media (max-width: 800px) {
  .root > :global(.__wab_flex-container) {
    align-items: flex-start;
    justify-content: center;
    min-width: 0;
  }
}
@media (max-width: 520px) {
  .root {
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .root {
    max-width: 414px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.exploreCards2 {
  max-width: 1128px;
  flex-grow: 0;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: visible;
  min-width: 0;
  min-height: 0;
  padding: 0% 0px;
}
@media (max-width: 1280px) {
  .exploreCards2 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: visible;
    max-width: 100%;
    flex-column-gap: 0px;
    min-width: 0;
    min-height: 0;
  }
}
@media (max-width: 960px) {
  .exploreCards2 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-self: center;
    padding-top: 0px;
    flex-column-gap: 0px;
    min-width: 0;
    min-height: 0;
  }
}
@media (max-width: 800px) {
  .exploreCards2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 520px) {
  .exploreCards2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    overflow: visible;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .exploreCards2 {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    overflow: visible;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox {
  max-width: 1128px;
  flex-grow: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: auto;
  min-width: 0;
  padding: 400px 0px 0px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 120px);
  width: calc(100% + 120px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 120px;
}
@media (max-width: 1280px) {
  .freeBox {
    display: flex;
    width: 100%;
    max-width: none;
    min-width: 0;
  }
}
@media (max-width: 1280px) {
  .freeBox > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 960px) {
  .freeBox {
    width: 100%;
    display: flex;
    min-width: 0;
    padding: 385px 0% 0%;
  }
}
@media (max-width: 960px) {
  .freeBox > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 800px) {
  .freeBox {
    max-width: none;
    flex-grow: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 800px) {
  .freeBox > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (max-width: 800px) {
  .freeBox > :global(.__wab_flex-container) > *,
  .freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox > :global(.__wab_flex-container) > picture > img,
  .freeBox
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 48px;
  }
}
@media (max-width: 520px) {
  .freeBox {
    max-width: none;
    flex-grow: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: visible;
    height: auto;
    align-self: auto;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 520px) {
  .freeBox > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (max-width: 520px) {
  .freeBox > :global(.__wab_flex-container) > *,
  .freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox > :global(.__wab_flex-container) > picture > img,
  .freeBox
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 48px;
  }
}
@media (max-width: 414px) {
  .freeBox {
    width: 100%;
    height: auto;
    max-width: none;
    flex-direction: column;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .freeBox > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (max-width: 414px) {
  .freeBox > :global(.__wab_flex-container) > *,
  .freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox > :global(.__wab_flex-container) > picture > img,
  .freeBox
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 48px;
  }
}
.stickyArea {
  display: flex;
  position: sticky;
  flex-direction: row;
  width: 740px;
  height: 416px;
  max-width: 100%;
  background: #fafafa;
  transform-origin: 50% 50%;
  transform: translateX(0px) translateY(-50%) translateZ(0px);
  bottom: auto;
  top: 50%;
  flex-shrink: 0;
  border-radius: 32px;
  padding: 24px 24px 24px 0px;
}
.stickyArea > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1280px) {
  .stickyArea {
    width: 100%;
    height: 412px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    flex-direction: row;
    margin-right: 0px;
    max-width: 620px;
    min-width: 0;
    border-radius: 0px 32px 32px 0px;
  }
}
@media (max-width: 1280px) {
  .stickyArea > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1280px) {
  .stickyArea > :global(.__wab_flex-container) > *,
  .stickyArea > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .stickyArea > :global(.__wab_flex-container) > picture > img,
  .stickyArea
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
@media (max-width: 960px) {
  .stickyArea {
    max-width: 452px;
    height: 386px;
  }
}
@media (max-width: 800px) {
  .stickyArea {
    width: 100%;
    max-width: none;
    height: 350px;
    display: flex;
    flex-direction: column;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    top: 0%;
    z-index: 10;
    margin-bottom: 0vh;
    margin-top: calc(0px + 48px) !important;
    margin-right: 0px;
    margin-left: calc(0px + 0px) !important;
    overflow-x: hidden;
    min-width: 0;
    flex-shrink: 0;
    border-radius: 0px;
    padding: 0px 0px 8px 48px;
  }
}
@media (max-width: 800px) {
  .stickyArea > :global(.__wab_flex-container) {
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 800px) {
  .stickyArea > :global(.__wab_flex-container) > *,
  .stickyArea > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .stickyArea > :global(.__wab_flex-container) > picture > img,
  .stickyArea
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
@media (max-width: 520px) {
  .stickyArea {
    width: 100%;
    align-self: flex-start;
    height: 300px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
    margin-top: calc(0px + 48px) !important;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (max-width: 520px) {
  .stickyArea > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (max-width: 520px) {
  .stickyArea > :global(.__wab_flex-container) > *,
  .stickyArea > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .stickyArea > :global(.__wab_flex-container) > picture > img,
  .stickyArea
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
@media (max-width: 414px) {
  .stickyArea {
    width: 100%;
    height: 300px;
    max-width: none;
    background: #fafafa;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    margin-left: calc(0px + 0px) !important;
    margin-top: calc(0px + 48px) !important;
    min-width: 0;
    flex-shrink: 0;
    border-radius: 0px;
    padding: 0px 24px 8px;
  }
}
@media (max-width: 414px) {
  .stickyArea > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.previousItem:global(.__wab_instance) {
  position: absolute;
  left: 188px;
  top: 24px;
}
@media (max-width: 1280px) {
  .previousItem:global(.__wab_instance) {
    left: auto;
    right: 24px;
  }
}
@media (max-width: 960px) {
  .previousItem:global(.__wab_instance) {
    left: auto;
    right: 0px;
    display: flex;
  }
}
@media (max-width: 800px) {
  .previousItem:global(.__wab_instance) {
    width: 0px;
    top: auto;
    bottom: 30px;
    right: auto;
    left: 24px;
    display: flex;
  }
}
@media (max-width: 520px) {
  .previousItem:global(.__wab_instance) {
    width: 100%;
    align-self: flex-start;
    max-width: 0px;
    left: 24px;
    top: auto;
    bottom: 30px;
    right: auto;
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .previousItem:global(.__wab_instance) {
    align-self: flex-start;
    left: auto;
    top: auto;
    bottom: 30px;
    right: auto;
  }
}
.currentItem:global(.__wab_instance) {
  position: absolute;
  left: 188px;
  top: 24px;
}
@media (max-width: 1280px) {
  .currentItem:global(.__wab_instance) {
    left: auto;
    right: 24px;
  }
}
@media (max-width: 960px) {
  .currentItem:global(.__wab_instance) {
    left: auto;
    right: 0px;
    width: auto;
    height: auto;
    display: flex;
  }
}
@media (max-width: 800px) {
  .currentItem:global(.__wab_instance) {
    width: 0px;
    top: auto;
    position: absolute;
    left: 24px;
    bottom: 30px;
    display: flex;
  }
}
@media (max-width: 520px) {
  .currentItem:global(.__wab_instance) {
    width: 100%;
    align-self: flex-start;
    max-width: 0px;
    top: auto;
    bottom: 30px;
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .currentItem:global(.__wab_instance) {
    width: auto;
    top: auto;
    left: auto;
    bottom: 30px;
    right: auto;
  }
}
.text {
  max-width: 1128px;
  flex-grow: 0;
  width: 100%;
  height: auto;
  text-align: left;
  color: #c8c8c8 /* plasmic-token: R5THTRFWV3HBL */;
  font-size: 12px;
  align-self: flex-end;
  position: absolute;
  left: 215px;
  top: 417px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1280px) {
  .text {
    width: 100%;
    height: auto;
    text-align: right;
    padding-left: 108px;
    color: #c8c8c8 /* plasmic-token: R5THTRFWV3HBL */;
    padding-right: 40px;
    max-width: 1440px;
    align-self: flex-start;
    font-size: 12px;
    left: auto;
    right: 24px;
    min-width: 0;
  }
}
@media (max-width: 960px) {
  .text {
    max-width: none;
    width: 100%;
    height: auto;
    text-align: left;
    color: #c8c8c8 /* plasmic-token: R5THTRFWV3HBL */;
    align-self: flex-start;
    font-size: 12px;
    min-width: 0;
    padding: 0px 76px;
  }
}
@media (max-width: 800px) {
  .text {
    text-align: left;
    max-width: none;
    width: 100%;
    height: auto;
    color: #c8c8c8 /* plasmic-token: R5THTRFWV3HBL */;
    align-self: center;
    font-size: 12px;
    position: relative;
    left: auto;
    top: auto;
    min-width: 0;
    padding: 0px 76px 0px 64px;
  }
}
@media (max-width: 520px) {
  .text {
    text-align: left;
    max-width: none;
    width: 100%;
    height: auto;
    color: #c8c8c8 /* plasmic-token: R5THTRFWV3HBL */;
    align-self: flex-start;
    font-size: 12px;
    min-width: 0;
    display: block;
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .text {
    text-align: left;
    max-width: none;
    width: 100%;
    height: auto;
    color: #c8c8c8 /* plasmic-token: R5THTRFWV3HBL */;
    align-self: center;
    font-size: 12px;
    min-width: 0;
    padding: 0px 76px 0px 24px;
  }
}
.vstack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 456px;
  min-width: 456px;
}
.vstack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 1280px) {
  .vstack {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-self: flex-start;
    min-width: 0px;
    max-width: 100%;
    padding: 0px;
  }
}
@media (max-width: 1280px) {
  .vstack > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 1280px) {
  .vstack > :global(.__wab_flex-container) > *,
  .vstack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .vstack > :global(.__wab_flex-container) > picture > img,
  .vstack
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 960px) {
  .vstack {
    display: flex;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0px;
  }
}
@media (max-width: 800px) {
  .vstack {
    align-self: center;
    min-width: 376px;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    left: auto;
    top: auto;
    z-index: 5;
    padding: 0px 48px;
  }
}
@media (max-width: 800px) {
  .vstack > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 160px);
    height: calc(100% + 160px);
  }
}
@media (max-width: 800px) {
  .vstack > :global(.__wab_flex-container) > *,
  .vstack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .vstack > :global(.__wab_flex-container) > picture > img,
  .vstack
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 160px;
  }
}
@media (max-width: 520px) {
  .vstack {
    position: relative;
    top: auto;
    left: auto;
    align-self: flex-start;
    min-width: 376px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    padding: 0px 48px;
  }
}
@media (max-width: 520px) {
  .vstack > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 520px) {
  .vstack > :global(.__wab_flex-container) > *,
  .vstack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .vstack > :global(.__wab_flex-container) > picture > img,
  .vstack
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 414px) {
  .vstack {
    min-width: auto;
    position: relative;
    top: auto;
    left: auto;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    padding: 0px 24px;
  }
}
@media (max-width: 414px) {
  .vstack > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 414px) {
  .vstack > :global(.__wab_flex-container) > *,
  .vstack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .vstack > :global(.__wab_flex-container) > picture > img,
  .vstack
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__eMc0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
  min-height: 960px;
  max-height: 1440px;
  align-self: flex-start;
  min-width: 0;
  padding: 0px 0px 0px 16px;
}
.freeBox__eMc0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__eMc0 > :global(.__wab_flex-container) > *,
.freeBox__eMc0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eMc0 > :global(.__wab_flex-container) > picture > img,
.freeBox__eMc0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.fauxUiTextwrapper__ogWsE:global(.__wab_instance) {
  width: 100%;
  height: auto;
  align-self: flex-start;
  z-index: 0;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  display: flex;
}
.fauxUiTextwrapper__kxpR3:global(.__wab_instance) {
  width: 100%;
  height: 416px;
  min-width: 0;
  flex-shrink: 0;
}
.text__vWvNa {
  height: auto;
}
.fauxUiTextwrapper__vZbfz:global(.__wab_instance) {
  height: 416px;
  flex-shrink: 0;
  display: flex;
}
.fauxUiTextwrapper__lDEeK:global(.__wab_instance) {
  height: 416px;
  flex-shrink: 0;
  display: flex;
}
.fauxUiTextwrapper__oinbv:global(.__wab_instance) {
  height: 416px;
  flex-shrink: 0;
  display: flex;
}
