.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.root__manutd {
  display: flex;
}
.productHero:global(.__wab_instance) {
  align-self: auto;
  flex-shrink: 0;
}
@media (max-width: 960px) {
  .productHero:global(.__wab_instance) {
    align-self: auto;
    flex-shrink: 0;
  }
}
@media (max-width: 800px) {
  .productHero:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 520px) {
  .productHero:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .productHero:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.productHero__manutd:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (max-width: 1280px) {
  .productHero__manutd:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 960px) {
  .productHero__manutd:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 800px) {
  .productHero__manutd:global(.__wab_instance) {
    align-self: auto;
    flex-shrink: 0;
  }
}
@media (max-width: 520px) {
  .productHero__manutd:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.productHero__celtics:global(.__wab_instance) {
  flex-shrink: 0;
}
.productHero__celtics_global_unnamedGlobalGroupOfVariants_unnamedVariant:global(.__wab_instance) {
  flex-shrink: 0;
}
.productHero__cavs:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (max-width: 414px) {
  .productHero__cavs:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.productHero__marlins:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox___7Hrom {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 0px;
}
.freeBox__cavs___7HroMb5Eyw {
  background: #181818;
  display: flex;
}
.paddingWrapper__k9Tbv:global(.__wab_instance) {
  max-width: 100%;
}
.content2 {
  max-width: 1128px;
  flex-grow: 0;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: center;
  padding-top: 192px;
  padding-bottom: 192px;
  min-width: 0;
}
.content2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 120px);
  width: calc(100% + 120px);
}
.content2 > :global(.__wab_flex-container) > *,
.content2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content2 > :global(.__wab_flex-container) > picture > img,
.content2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 120px;
}
@media (max-width: 960px) {
  .content2 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 960px) {
  .content2 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 3rem);
    height: calc(100% + 3rem);
  }
}
@media (max-width: 960px) {
  .content2 > :global(.__wab_flex-container) > *,
  .content2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .content2 > :global(.__wab_flex-container) > picture > img,
  .content2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 3rem;
  }
}
.copy9 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.copy9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.copy9 > :global(.__wab_flex-container) > *,
.copy9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy9 > :global(.__wab_flex-container) > picture > img,
.copy9 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.coloredHeading {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.text__eXrW0 {
  font-family: Roobert;
  font-weight: 800;
  font-size: 3rem /* plasmic-token: V8mbuBXnxL-e0 */;
  line-height: 3.5rem /* plasmic-token: i0Vn5HaHJ81mA */;
  letter-spacing: 0px;
  display: block;
  width: auto;
  max-width: 552px;
  margin-right: 0px;
  color: #181818 /* plasmic-token: HiHmSIXx2eHbj */;
}
@media (max-width: 800px) {
  .text__eXrW0 {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2rem /* plasmic-token: TNrb_8Euqc0Ke */;
    line-height: 2.5rem;
  }
}
@media (max-width: 520px) {
  .text__eXrW0 {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2rem /* plasmic-token: TNrb_8Euqc0Ke */;
    line-height: 2.5rem;
  }
}
@media (max-width: 800px) {
  .text__manutd__eXrW093Fzh {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2rem /* plasmic-token: TNrb_8Euqc0Ke */;
    line-height: 2.5rem;
    padding-left: 0px;
  }
}
@media (max-width: 520px) {
  .text__manutd__eXrW093Fzh {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2rem /* plasmic-token: TNrb_8Euqc0Ke */;
    line-height: 2.5rem;
  }
}
.text__celtics__eXrW0XtUvd {
  color: #181818 /* plasmic-token: yWTqo3Va35E_D */;
}
.text__cavs__eXrW0B5Eyw {
  color: #f4f4f4 /* plasmic-token: kFDOlCxsPFPmS */;
}
.text__jy8V8 {
  font-family: Roobert;
  font-weight: 600;
  font-size: 1.5rem /* plasmic-token: UwEtUtVCTxzAc */;
  line-height: 2rem /* plasmic-token: KxpeV-D3olUUT */;
  letter-spacing: 0px;
  display: block;
  color: #8a8a8a /* plasmic-token: i_nWIql8xUFNS */;
  position: relative;
  width: 100%;
  max-width: 552px;
  min-width: 0;
}
@media (max-width: 800px) {
  .text__jy8V8 {
    font-family: Roobert;
    font-weight: 600;
    font-size: 1.13rem /* plasmic-token: Ph5eB48PW4HTW */;
    line-height: 1.5rem;
  }
}
.text__manutd__jy8V893Fzh {
  width: 100%;
  max-width: 800px;
  min-width: 0;
}
.text__celtics__jy8V8XtUvd {
  color: #8a8a8a /* plasmic-token: 6AFNYzDwEMAUg */;
}
.text__cavs__jy8V8B5Eyw {
  color: #8a8a8a /* plasmic-token: 6AFNYzDwEMAUg */;
}
.offer2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__q1Y4 {
  position: relative;
  cursor: pointer;
}
.rates3 {
  width: 480px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
}
.rates3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.rates3 > :global(.__wab_flex-container) > *,
.rates3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rates3 > :global(.__wab_flex-container) > picture > img,
.rates3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (max-width: 520px) {
  .rates3 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 520px) {
  .rates3 > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 2rem);
    height: calc(100% + 2rem);
  }
}
@media (max-width: 520px) {
  .rates3 > :global(.__wab_flex-container) > *,
  .rates3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .rates3 > :global(.__wab_flex-container) > picture > img,
  .rates3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 2rem;
  }
}
.freeBox__pzNfk {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.freeBox__pzNfk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__pzNfk > :global(.__wab_flex-container) > *,
.freeBox__pzNfk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pzNfk > :global(.__wab_flex-container) > picture > img,
.freeBox__pzNfk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (max-width: 520px) {
  .freeBox__pzNfk {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 520px) {
  .freeBox__pzNfk > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 2rem);
    height: calc(100% + 2rem);
  }
}
@media (max-width: 520px) {
  .freeBox__pzNfk > :global(.__wab_flex-container) > *,
  .freeBox__pzNfk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pzNfk > :global(.__wab_flex-container) > picture > img,
  .freeBox__pzNfk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 2rem;
  }
}
.bigCallOut__fxw8T:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 800px) {
  .bigCallOut__fxw8T:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 520px) {
  .bigCallOut__fxw8T:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.bigCallOut__manutd__fxw8T93Fzh:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (max-width: 1280px) {
  .bigCallOut__manutd__fxw8T93Fzh:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.bigCallOut__celtics__fxw8TXtUvd:global(.__wab_instance) {
  flex-shrink: 0;
}
.bigCallOut__cavs__fxw8Tb5Eyw:global(.__wab_instance) {
  flex-shrink: 0;
}
.bigCallOut__marlins__fxw8TwDlkI:global(.__wab_instance) {
  flex-shrink: 0;
}
.text__celtics__uu6DtXtUvd {
  color: #af8638 /* plasmic-token: o1WPDSq39ZEYs */;
}
.text__cavs__uu6Dtb5Eyw {
  color: #f7c41c /* plasmic-token: hqQjT7Aa9I6PI */;
}
.text__marlins__uu6DtwDlkI {
  color: #027ab7 /* plasmic-token: 959x4Exrx8yjR */;
  padding-right: 0px;
}
.text__manutd__rOl2Z93Fzh {
  color: #767676 /* plasmic-token: oqlBjEs3KhsvV */;
}
.text__cavs__rOl2Zb5Eyw {
  color: #c8c8c8 /* plasmic-token: R5THTRFWV3HBL */;
}
.bigCallOut___7KPFc:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 520px) {
  .bigCallOut___7KPFc:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.bigCallOut__manutd___7KPFc93Fzh:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (max-width: 1280px) {
  .bigCallOut__manutd___7KPFc93Fzh:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.bigCallOut__celtics___7KPFcXtUvd:global(.__wab_instance) {
  flex-shrink: 0;
}
.bigCallOut__cavs___7KPFcb5Eyw:global(.__wab_instance) {
  flex-shrink: 0;
}
.bigCallOut__marlins___7KPFcwDlkI:global(.__wab_instance) {
  flex-shrink: 0;
}
.text__manutd__dKb7M93Fzh {
  opacity: 0.4;
  display: block;
}
.text__celtics__dKb7MxtUvd {
  color: #af8638 /* plasmic-token: o1WPDSq39ZEYs */;
}
.text__cavs__dKb7Mb5Eyw {
  color: #f7c41c /* plasmic-token: hqQjT7Aa9I6PI */;
  opacity: 0.4;
  display: block;
}
.text__marlins__dKb7MwDlkI {
  color: #027ab7 /* plasmic-token: 959x4Exrx8yjR */;
}
@media (max-width: 520px) {
  .text__xQAjd {
    height: auto;
  }
}
.text__manutd__xQAjd93Fzh {
  color: #757575;
}
.text__cavs__xQAjdb5Eyw {
  color: #c8c8c8 /* plasmic-token: R5THTRFWV3HBL */;
}
.freeBox__sxIjN {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.freeBox__sxIjN > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__sxIjN > :global(.__wab_flex-container) > *,
.freeBox__sxIjN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sxIjN > :global(.__wab_flex-container) > picture > img,
.freeBox__sxIjN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.freeBox__manutd__sxIjN93Fzh {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__manutd__sxIjN93Fzh > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  margin-top: calc(0px - 2rem);
  height: calc(100% + 2rem);
}
.freeBox__manutd__sxIjN93Fzh > :global(.__wab_flex-container) > *,
.freeBox__manutd__sxIjN93Fzh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBox__manutd__sxIjN93Fzh > :global(.__wab_flex-container) > picture > img,
.freeBox__manutd__sxIjN93Fzh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 2rem;
}
@media (max-width: 800px) {
  .freeBox__manutd__sxIjN93Fzh {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (max-width: 800px) {
  .freeBox__manutd__sxIjN93Fzh > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 24px);
    width: calc(100% + 24px);
    margin-top: calc(0px - 2rem);
    height: calc(100% + 2rem);
  }
}
@media (max-width: 800px) {
  .freeBox__manutd__sxIjN93Fzh > :global(.__wab_flex-container) > *,
  .freeBox__manutd__sxIjN93Fzh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .freeBox__manutd__sxIjN93Fzh > :global(.__wab_flex-container) > picture > img,
  .freeBox__manutd__sxIjN93Fzh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 24px;
    margin-top: 2rem;
  }
}
.bigCallOut___7HOqb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 520px) {
  .bigCallOut___7HOqb:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.bigCallOut__manutd___7HOqb93Fzh:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (max-width: 800px) {
  .bigCallOut__manutd___7HOqb93Fzh:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.bigCallOut__celtics___7HOqbXtUvd:global(.__wab_instance) {
  flex-shrink: 0;
}
.bigCallOut__cavs___7HOqbb5Eyw:global(.__wab_instance) {
  flex-shrink: 0;
}
.bigCallOut__marlins___7HOqbwDlkI:global(.__wab_instance) {
  flex-shrink: 0;
}
.text__manutd__bD5DI93Fzh {
  opacity: 0.4;
  display: block;
}
.text__celtics__bD5DIxtUvd {
  color: #af8638 /* plasmic-token: o1WPDSq39ZEYs */;
  padding-right: 0px;
}
.text__cavs__bD5DIb5Eyw {
  color: #f7c41c /* plasmic-token: hqQjT7Aa9I6PI */;
  opacity: 0.4;
  text-decoration-line: line-through !important;
  display: block;
}
.text__marlins__bD5DIwDlkI {
  color: #027ab7 /* plasmic-token: 959x4Exrx8yjR */;
}
.text___0B35S {
  height: auto;
}
.text__celtics___0B35SxtUvd {
  padding-top: 0px;
}
.text__cavs___0B35Sb5Eyw {
  color: #c8c8c8 /* plasmic-token: R5THTRFWV3HBL */;
}
.bigCallOut__hg3Zq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  display: none;
}
.bigCallOut__marlins__hg3ZqwDlkI:global(.__wab_instance) {
  flex-shrink: 0;
  display: flex;
}
.text__pNnSq {
  color: #027ab7 /* plasmic-token: 959x4Exrx8yjR */;
}
.bigCallOut__premx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  display: none;
}
.bigCallOut__cavs__premxb5Eyw:global(.__wab_instance) {
  flex-shrink: 0;
  display: flex;
}
.text__xpmNj {
  color: #f7c41c /* plasmic-token: hqQjT7Aa9I6PI */;
}
.text__cavs__xpmNJb5Eyw {
  opacity: 0.4;
}
.text__olilv {
  color: #c8c8c8 /* plasmic-token: R5THTRFWV3HBL */;
}
.bigCallOut__sbrhB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  display: none;
}
.bigCallOut__celtics__sbrhBxtUvd:global(.__wab_instance) {
  flex-shrink: 0;
  display: flex;
}
.text__celtics__qlgRhXtUvd {
  color: #af8638 /* plasmic-token: o1WPDSq39ZEYs */;
}
.bigCallOut__gWYyP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  display: none;
}
.bigCallOut__manutd__gWYyP93Fzh:global(.__wab_instance) {
  flex-shrink: 0;
  display: flex;
}
.bigCallOut__celtics__gWYyPxtUvd:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.text__manutd__xJi2B93Fzh {
  opacity: 0.4;
  display: block;
}
.freeBox___0Ejc {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.freeBox___0Ejc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___0Ejc > :global(.__wab_flex-container) > *,
.freeBox___0Ejc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Ejc > :global(.__wab_flex-container) > picture > img,
.freeBox___0Ejc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.freeBox__manutd___0Ejc93Fzh {
  display: none;
}
.bigCallOut___1ZEvo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 520px) {
  .bigCallOut___1ZEvo:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.bigCallOut__manutd___1ZEvo93Fzh:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.bigCallOut__celtics___1ZEvoxtUvd:global(.__wab_instance) {
  flex-shrink: 0;
}
.bigCallOut__cavs___1ZEvOb5Eyw:global(.__wab_instance) {
  flex-shrink: 0;
}
.bigCallOut__marlins___1ZEvOwDlkI:global(.__wab_instance) {
  flex-shrink: 0;
}
.text__celtics__aJjsXtUvd {
  color: #af8638 /* plasmic-token: o1WPDSq39ZEYs */;
  padding-right: 0px;
}
.text__cavs__aJjsB5Eyw {
  color: #f7c41c /* plasmic-token: hqQjT7Aa9I6PI */;
}
.text__marlins__aJjsWDlkI {
  color: #027ab7 /* plasmic-token: 959x4Exrx8yjR */;
}
.text__nitZ3 {
  height: auto;
}
.text__celtics__nitZ3XtUvd {
  padding-top: 0px;
}
.text__cavs__nitZ3B5Eyw {
  color: #c8c8c8 /* plasmic-token: R5THTRFWV3HBL */;
}
.bigCallOut__qWaFs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  display: none;
}
.bigCallOut__manutd__qWaFs93Fzh:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.bigCallOut__celtics__qWaFsXtUvd:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.hero2 {
  background: rgba(249, 249, 249, 1);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding-top: 192px;
  padding-bottom: 192px;
  min-width: 0;
  margin: 0px 0px 192px;
}
.hero2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 128px);
  height: calc(100% + 128px);
}
.hero2 > :global(.__wab_flex-container) > *,
.hero2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero2 > :global(.__wab_flex-container) > picture > img,
.hero2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 128px;
}
.freeBox__bQwbe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.redeemShopSection {
  max-width: 1128px;
  flex-grow: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 0;
}
.redeemShopSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 96px);
  height: calc(100% + 96px);
}
.redeemShopSection > :global(.__wab_flex-container) > *,
.redeemShopSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.redeemShopSection > :global(.__wab_flex-container) > picture > img,
.redeemShopSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 96px;
}
@media (max-width: 1280px) {
  .redeemShopSection {
    max-width: none;
  }
}
.copy {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
  padding: 0px;
}
.copy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.copy > :global(.__wab_flex-container) > *,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy > :global(.__wab_flex-container) > picture > img,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (max-width: 1280px) {
  .copy {
    padding-left: 108px;
    padding-right: 108px;
  }
}
@media (max-width: 960px) {
  .copy {
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media (max-width: 800px) {
  .copy {
    padding: 0px 48px /* plasmic-token: WBKikx3WJ22Ex */;
  }
}
@media (max-width: 520px) {
  .copy {
    padding: 0px 2rem;
  }
}
.coloredHeading2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
}
@media (max-width: 800px) {
  .coloredHeading2 {
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: stretch;
  }
}
.freeBox__p1LIy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 960px) {
  .freeBox__p1LIy {
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (max-width: 800px) {
  .freeBox__p1LIy {
    align-content: stretch;
    justify-content: flex-start;
    height: 100%;
    flex-wrap: nowrap;
    min-height: 0;
  }
}
.freeBox__celtics__p1LIyxtUvd {
  display: flex;
}
.freeBox__marlins__p1LIYwDlkI {
  display: flex;
}
.text__fY2Ot {
  font-family: Roobert;
  font-weight: 800;
  font-size: 3rem /* plasmic-token: V8mbuBXnxL-e0 */;
  line-height: 3.5rem /* plasmic-token: i0Vn5HaHJ81mA */;
  letter-spacing: 0px;
  display: block;
  width: 100%;
  margin-right: 0px;
  color: #181818 /* plasmic-token: HiHmSIXx2eHbj */;
  max-width: 70%;
  white-space: pre-wrap;
  min-width: 0;
}
@media (max-width: 960px) {
  .text__fY2Ot {
    white-space: pre-wrap;
    max-width: 85%;
  }
}
@media (max-width: 800px) {
  .text__fY2Ot {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2rem /* plasmic-token: TNrb_8Euqc0Ke */;
    line-height: 2.5rem;
    max-width: 95%;
  }
}
@media (max-width: 520px) {
  .text__fY2Ot {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2rem /* plasmic-token: TNrb_8Euqc0Ke */;
    line-height: 2.5rem;
    max-width: none;
  }
}
@media (max-width: 800px) {
  .text__manutd__fY2Ot93Fzh {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2rem /* plasmic-token: TNrb_8Euqc0Ke */;
    line-height: 2.5rem;
  }
}
@media (max-width: 520px) {
  .text__manutd__fY2Ot93Fzh {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2rem /* plasmic-token: TNrb_8Euqc0Ke */;
    line-height: 2.5rem;
  }
}
.text__celtics__fY2OtxtUvd {
  color: #181818 /* plasmic-token: yWTqo3Va35E_D */;
}
.text__y1KqP {
  font-family: Roobert;
  font-weight: 600;
  font-size: 1.5rem /* plasmic-token: UwEtUtVCTxzAc */;
  line-height: 2rem /* plasmic-token: KxpeV-D3olUUT */;
  letter-spacing: 0px;
  display: block;
  color: #8a8a8a /* plasmic-token: i_nWIql8xUFNS */;
  position: relative;
  max-width: 800px;
  width: 100%;
  min-width: 0;
}
@media (max-width: 800px) {
  .text__y1KqP {
    font-family: Roobert;
    font-weight: 600;
    font-size: 1.13rem /* plasmic-token: Ph5eB48PW4HTW */;
    line-height: 1.5rem;
  }
}
.text__cavs__y1KqPb5Eyw {
  font-family: Roobert;
  font-weight: 600;
  font-size: 1.5rem /* plasmic-token: UwEtUtVCTxzAc */;
  line-height: 2rem /* plasmic-token: KxpeV-D3olUUT */;
  letter-spacing: 0px;
}
.offer7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.text__nFyZr {
  position: relative;
  cursor: pointer;
}
.text__manutd__nFyZr93Fzh {
  text-decoration-line: underline !important;
}
.text___6X9PJ {
  display: block;
}
.itemCarousel:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.itemCarouselItem___0FvPc:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.text__manutd___82Nd193Fzh {
  text-align: left;
}
.text__manutd__sQfIm93Fzh {
  padding-right: 0px;
}
.img__goHhV {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__goHhV > picture > img {
  object-fit: cover;
}
.img__goHhV > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__manutd__goHhV93Fzh {
  height: auto;
}
.itemCarouselItem__tBf2Z:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.img__pbnFg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 100%;
  height: 312px;
  min-width: 0;
}
.img__pbnFg > picture > img {
  object-fit: cover;
}
.img__pbnFg > .__wab_img-spacer > img {
  object-fit: cover;
}
.itemCarouselItem__gzfVq:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.text__celtics__bvdqiXtUvd {
  padding-left: 0px;
}
.text__cavs__bvdqib5Eyw {
  padding-left: 0px;
}
.img__nuHiq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 100%;
  height: 312px;
  min-width: 0;
}
.img__nuHiq > picture > img {
  object-fit: cover;
}
.img__nuHiq > .__wab_img-spacer > img {
  object-fit: cover;
}
.itemCarouselItem__wgtrf:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.text__tgsCt {
  height: auto;
  width: auto;
}
.img__ndxah {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 100%;
  height: 312px;
  min-width: 0;
}
.img__ndxah > picture > img {
  object-fit: cover;
}
.img__ndxah > .__wab_img-spacer > img {
  object-fit: cover;
}
.paddingWrapper__twPsg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-grow: 0;
  align-self: center;
}
.content {
  max-width: 1128px;
  flex-grow: 0;
  width: 100%;
  height: auto;
  display: flex;
  position: sticky;
  flex-direction: column;
  min-width: 0;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.text__wi6KR {
  font-family: Roobert;
  font-weight: 800;
  font-size: 3rem /* plasmic-token: V8mbuBXnxL-e0 */;
  line-height: 3.5rem /* plasmic-token: i0Vn5HaHJ81mA */;
  letter-spacing: 0px;
  display: block;
  color: rgba(23, 23, 23, 1);
  align-self: flex-start;
  position: relative;
}
@media (max-width: 800px) {
  .text__wi6KR {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2.5rem /* plasmic-token: ZKDjlZy0Yze8e */;
    line-height: 2.75rem;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .text__manutd__wi6KR93Fzh {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2rem /* plasmic-token: TNrb_8Euqc0Ke */;
    line-height: 2.5rem;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 24px;
}
@media (max-width: 1280px) {
  .columns {
    flex-direction: row;
    width: 100%;
    display: flex;
    position: relative;
    height: auto;
    flex-shrink: 1;
    align-self: center;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 1280px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 24px);
    width: calc(100% + 24px);
  }
}
@media (max-width: 1280px) {
  .columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
    width: calc((100% - 3 * 24px) * 4 / 12);
  }
}
@media (max-width: 1280px) {
  .columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
    width: calc((100% - 3 * 24px) * 4 / 12);
  }
}
@media (max-width: 1280px) {
  .columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
    width: calc((100% - 3 * 24px) * 4 / 12);
  }
}
@media (max-width: 1280px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 24px;
  }
}
@media (max-width: 960px) {
  .columns {
    flex-direction: row;
    width: 100%;
    display: flex;
    position: relative;
    height: auto;
    flex-shrink: 1;
    align-self: center;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 960px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 24px);
    width: calc(100% + 24px);
  }
}
@media (max-width: 960px) {
  .columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 24px) * 6 / 12);
  }
}
@media (max-width: 960px) {
  .columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 24px) * 6 / 12);
  }
}
@media (max-width: 960px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 24px;
  }
}
@media (max-width: 520px) {
  .columns {
    flex-direction: row;
    width: 100%;
    display: flex;
    position: relative;
    height: auto;
    flex-shrink: 1;
    align-self: center;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 520px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 24px);
    width: calc(100% + 24px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (max-width: 520px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
@media (max-width: 520px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 24px;
    margin-top: 24px;
  }
}
.column__pfFsB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.benefitCallOut__vnwHl:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.svg__ljTj9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
}
.column__zZiUu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.benefitCallOut__wtciJ:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.text__bUg3B {
  height: auto;
}
.svg__t4Du {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
}
.column__vybzK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.column__marlins__vybzKwDlkI {
  display: none;
}
.benefitCallOut__aEyPs:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  max-width: 472px;
}
.benefitCallOut__manutd__aEyPs93Fzh:global(.__wab_instance) {
  display: none;
}
.benefitCallOut__celtics__aEyPsXtUvd:global(.__wab_instance) {
  display: none;
}
.benefitCallOut__marlins__aEyPswDlkI:global(.__wab_instance) {
  display: none;
}
.text___6GfSj {
  height: auto;
}
.svg__ykpNj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
}
.column___89Lz9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.benefitCallOut__gdJ4M:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  max-width: 360px;
}
.benefitCallOut__manutd__gdJ4M93Fzh:global(.__wab_instance) {
  display: none;
}
.benefitCallOut__celtics__gdJ4MxtUvd:global(.__wab_instance) {
  display: none;
}
.benefitCallOut__cavs__gdJ4Mb5Eyw:global(.__wab_instance) {
  display: none;
}
.text__trrzB {
  height: auto;
}
.text__marlins__nv1BEwDlkI {
  height: auto;
}
.svg__itpAv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
}
.imageLeft:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.oldTraffordDusk3 {
  background: linear-gradient(rgba(137, 1, 0, 0.2), rgba(137, 1, 0, 0.2)),
    url("/plasmic/copy_of_cardless_com/images/oldTraffordDusk2.png") center center / cover no-repeat;
  display: block;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  border-radius: 32px;
}
@media (max-width: 1280px) {
  .oldTraffordDusk3 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
@media (max-width: 960px) {
  .oldTraffordDusk3 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
@media (max-width: 800px) {
  .oldTraffordDusk3 {
    height: auto;
    border-radius: 0px;
  }
}
@media (max-width: 520px) {
  .oldTraffordDusk3 {
    border-radius: 0px;
  }
}
.oldTraffordDusk3__manutd {
  background: linear-gradient(rgba(137, 1, 0, 0.2), rgba(137, 1, 0, 0.2)),
    url("/plasmic/copy_of_cardless_com/images/manutdStadiumCompressedjpg.jpeg") center center / cover no-repeat;
}
.oldTraffordDusk3__celtics {
  background: linear-gradient(#89010026, #89010026),
    url("/plasmic/copy_of_cardless_com/images/celticsStadiumCompressedjpg.jpeg") center center / cover no-repeat;
}
.oldTraffordDusk3__cavs {
  background: linear-gradient(#76000033, #76000033),
    url("/plasmic/copy_of_cardless_com/images/cavsStadiumCompressedjpg.jpeg") center center / cover no-repeat;
}
.oldTraffordDusk3__marlins {
  background: url("/plasmic/copy_of_cardless_com/images/marlinsStadiumCompressedjpg.jpeg") center center / cover no-repeat;
}
.copy8 {
  width: 454px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.copy8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.copy8 > :global(.__wab_flex-container) > *,
.copy8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy8 > :global(.__wab_flex-container) > picture > img,
.copy8 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
@media (max-width: 960px) {
  .copy8 {
    width: 100%;
    min-width: 0;
    padding: 3rem 2rem 0rem;
  }
}
@media (max-width: 960px) {
  .copy8 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 520px) {
  .copy8 {
    padding: 0rem;
  }
}
.copy8__manutd > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.copy8__manutd > :global(.__wab_flex-container) > *,
.copy8__manutd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy8__manutd > :global(.__wab_flex-container) > picture > img,
.copy8__manutd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 40px;
}
.text__viMoa {
  font-family: Roobert;
  font-weight: 800;
  font-size: 3rem /* plasmic-token: V8mbuBXnxL-e0 */;
  line-height: 3.5rem /* plasmic-token: i0Vn5HaHJ81mA */;
  letter-spacing: 0px;
  display: block;
  color: rgba(0, 0, 0, 1);
  align-self: stretch;
  position: relative;
}
@media (max-width: 800px) {
  .text__viMoa {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2rem /* plasmic-token: TNrb_8Euqc0Ke */;
    line-height: 2.5rem;
  }
}
.rates6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding: 0px;
}
.rates6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.rates6 > :global(.__wab_flex-container) > *,
.rates6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rates6 > :global(.__wab_flex-container) > picture > img,
.rates6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (max-width: 520px) {
  .rates6 {
    padding: 2rem 0px 0px;
  }
}
.earningsCopy9 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.earningsCopy9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.earningsCopy9 > :global(.__wab_flex-container) > *,
.earningsCopy9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.earningsCopy9 > :global(.__wab_flex-container) > picture > img,
.earningsCopy9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (max-width: 520px) {
  .earningsCopy9 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 520px) {
  .earningsCopy9 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 2rem);
    height: calc(100% + 2rem);
  }
}
@media (max-width: 520px) {
  .earningsCopy9 > :global(.__wab_flex-container) > *,
  .earningsCopy9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .earningsCopy9 > :global(.__wab_flex-container) > picture > img,
  .earningsCopy9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 2rem;
  }
}
.earningCallout__fy1S9:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.text__manutd___1D8Z93Fzh {
  font-family: Roobert;
  font-weight: 600;
}
.earningCallout__bgw7Z:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.earningCallout__celtics__bgw7ZxtUvd:global(.__wab_instance) {
  max-width: 215px;
}
.earningCallout__cavs__bgw7Zb5Eyw:global(.__wab_instance) {
  max-width: 215px;
}
.text__manutd__erv1693Fzh {
  font-family: Roobert;
  font-weight: 600;
}
.text__marlins__lyFdPwDlkI {
  padding-bottom: 0px;
}
.earningsCopy10 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.earningsCopy10 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.earningsCopy10 > :global(.__wab_flex-container) > *,
.earningsCopy10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.earningsCopy10 > :global(.__wab_flex-container) > picture > img,
.earningsCopy10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (max-width: 520px) {
  .earningsCopy10 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 520px) {
  .earningsCopy10 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 2rem);
    height: calc(100% + 2rem);
  }
}
@media (max-width: 520px) {
  .earningsCopy10 > :global(.__wab_flex-container) > *,
  .earningsCopy10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .earningsCopy10 > :global(.__wab_flex-container) > picture > img,
  .earningsCopy10
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 2rem;
  }
}
.earningCallout__npdkZ:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.earningCallout__celtics__npdkZxtUvd:global(.__wab_instance) {
  max-width: 215px;
}
.earningCallout__cavs__npdkZb5Eyw:global(.__wab_instance) {
  max-width: 215px;
}
.text__manutd__i10DF93Fzh {
  font-family: Roobert;
  font-weight: 600;
}
.text__marlins___1AnoCwDlkI {
  padding-bottom: 0px;
}
.earningCallout__mGvGk:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.text__manutd__vuVo93Fzh {
  font-family: Roobert;
  font-weight: 600;
  padding-top: 0px;
}
.offer8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.text__vI8Nn {
  position: relative;
  cursor: pointer;
}
.text__manutd__vI8Nn93Fzh {
  text-decoration-line: underline !important;
}
.text___2SRi7 {
  display: block;
}
.mobileAppMock:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 800px) {
  .mobileAppMock:global(.__wab_instance) {
    height: auto;
  }
}
@media (max-width: 520px) {
  .text__rhq11 {
    text-align: center;
  }
}
.text__cavs__rhq11B5Eyw {
  height: auto;
}
.img__cNc6U {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  transform: translate(0.34000000000003183px, -0.0009999999999994458px);
  width: 220.285px;
  height: 477.171px;
  display: block !important;
  top: auto;
  left: auto;
}
.img__cNc6U > picture > img {
  object-fit: cover;
}
.img__cNc6U > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__gQpc4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 100%;
  height: 100%;
  align-self: center;
  min-width: 0;
  min-height: 0;
}
.img__gQpc4 > picture > img {
  object-fit: cover;
}
.img__gQpc4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__celtics__gQpc4XtUvd {
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__xc4Cv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  transform: translate(0.34199999999998454px, 0px);
  width: 220.292px;
  height: 477.186px;
  display: block !important;
  top: auto;
  left: auto;
}
.img__xc4Cv > picture > img {
  object-fit: cover;
}
.img__xc4Cv > .__wab_img-spacer > img {
  object-fit: cover;
}
.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 96px 156px;
}
.wrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 120px);
  width: calc(100% + 120px);
}
.wrapper > :global(.__wab_flex-container) > *,
.wrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wrapper > :global(.__wab_flex-container) > picture > img,
.wrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 120px;
}
@media (max-width: 1280px) {
  .wrapper {
    left: auto;
    top: auto;
    padding-left: 108px;
    padding-right: 108px;
  }
}
@media (max-width: 800px) {
  .wrapper {
    left: auto;
    top: auto;
    padding: 96px 24px;
  }
}
@media (max-width: 520px) {
  .wrapper {
    left: auto;
    top: auto;
    padding: 96px 48px;
  }
}
.copyCta {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-self: center;
  border-radius: 24px;
}
.copyCta > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.copyCta > :global(.__wab_flex-container) > *,
.copyCta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copyCta > :global(.__wab_flex-container) > picture > img,
.copyCta
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.copy11 {
  max-width: 1128px;
  flex-grow: 0;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
  padding-bottom: 0px;
  min-width: 0;
}
.copy11 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.copy11 > :global(.__wab_flex-container) > *,
.copy11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy11 > :global(.__wab_flex-container) > picture > img,
.copy11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (max-width: 800px) {
  .copy11 {
    max-width: 80%;
  }
}
.freeBox___2H6Q {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___2H6Q > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___2H6Q > :global(.__wab_flex-container) > *,
.freeBox___2H6Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2H6Q > :global(.__wab_flex-container) > picture > img,
.freeBox___2H6Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___5GiOp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1280px) {
  .freeBox___5GiOp {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-column-gap: 0px;
  }
}
.text__tzw3D {
  font-family: Roobert;
  font-weight: 800;
  font-size: 3rem /* plasmic-token: V8mbuBXnxL-e0 */;
  line-height: 3.5rem /* plasmic-token: i0Vn5HaHJ81mA */;
  letter-spacing: 0px;
  position: relative;
  width: 100%;
  height: auto;
  color: #181818 /* plasmic-token: HiHmSIXx2eHbj */;
  text-align: center;
  min-width: 0;
}
@media (max-width: 800px) {
  .text__tzw3D {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2rem /* plasmic-token: TNrb_8Euqc0Ke */;
    line-height: 2.5rem;
  }
}
@media (max-width: 520px) {
  .text__tzw3D {
    font-family: Roobert;
    font-weight: 700;
    font-size: 1.75rem /* plasmic-token: 6Y1uc8KR91Hp8 */;
    line-height: 2rem;
    text-align: center;
  }
}
.text__celtics__tzw3DXtUvd {
  color: #181818 /* plasmic-token: HiHmSIXx2eHbj */;
}
.text__cavs__tzw3Db5Eyw {
  color: #181818 /* plasmic-token: HiHmSIXx2eHbj */;
}
.text__marlins__tzw3DwDlkI {
  color: #027ab7 /* plasmic-token: 959x4Exrx8yjR */;
}
.subheadingWrapper {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.subheadingWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.subheadingWrapper > :global(.__wab_flex-container) > *,
.subheadingWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.subheadingWrapper > :global(.__wab_flex-container) > picture > img,
.subheadingWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__ossFw {
  font-family: Roobert;
  font-weight: 600;
  font-size: 1.5rem /* plasmic-token: UwEtUtVCTxzAc */;
  line-height: 2rem /* plasmic-token: KxpeV-D3olUUT */;
  letter-spacing: 0px;
  display: block;
  color: #8a8a8a /* plasmic-token: i_nWIql8xUFNS */;
  position: relative;
}
@media (max-width: 800px) {
  .text__ossFw {
    font-family: Roobert;
    font-weight: 600;
    font-size: 1.13rem /* plasmic-token: Ph5eB48PW4HTW */;
    line-height: 1.5rem;
  }
}
@media (max-width: 520px) {
  .text__ossFw {
    text-align: center;
  }
}
.offer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__fJsft {
  position: relative;
  cursor: pointer;
}
.cta {
  background: rgba(138, 1, 0, 1);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
  padding: 96px 80px;
}
.cta > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.cta > :global(.__wab_flex-container) > *,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cta > :global(.__wab_flex-container) > picture > img,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 48px;
}
@media (max-width: 520px) {
  .cta {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media (max-width: 414px) {
  .cta {
    padding: 96px 24px;
  }
}
.cta__celtics {
  background: #003a15;
}
.cta__cavs {
  background: #420011;
}
.cta__marlins {
  background: #027ab7;
}
.freeBox__zFum1 {
  max-width: 1128px;
  flex-grow: 0;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__zFum1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (max-width: 800px) {
  .freeBox__zFum1 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (max-width: 800px) {
  .freeBox__zFum1 > :global(.__wab_flex-container) > *,
  .freeBox__zFum1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zFum1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__zFum1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 48px;
  }
}
.text__kd2Ue {
  font-family: Roobert;
  font-size: 4rem /* plasmic-token: 45pDHKu2voyjI */;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 4.25rem /* plasmic-token: FObjchsOu6r1A */;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  text-align: center;
  color: #ffffff;
  min-width: 0;
  display: block;
}
@media (max-width: 800px) {
  .text__kd2Ue {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2.5rem /* plasmic-token: ZKDjlZy0Yze8e */;
    line-height: 2.75rem;
  }
}
@media (max-width: 414px) {
  .text__kd2Ue {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2rem /* plasmic-token: TNrb_8Euqc0Ke */;
    line-height: 2.5rem;
  }
}
.text__manutd__kd2Ue93Fzh {
  color: #ffffff /* plasmic-token: yCQGfgbbPyigk */;
}
.text__celtics__kd2UeXtUvd {
  color: #ffffff /* plasmic-token: yCQGfgbbPyigk */;
  align-self: center;
}
.text__cavs__kd2Ueb5Eyw {
  color: #ffffff /* plasmic-token: yCQGfgbbPyigk */;
}
.text__marlins__kd2UewDlkI {
  color: #ffffff /* plasmic-token: yCQGfgbbPyigk */;
}
.freeBox__qhEn9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.benefitsRow6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.benefitsRow6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.benefitsRow6 > :global(.__wab_flex-container) > *,
.benefitsRow6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.benefitsRow6 > :global(.__wab_flex-container) > picture > img,
.benefitsRow6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (max-width: 800px) {
  .benefitsRow6 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 800px) {
  .benefitsRow6 > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (max-width: 800px) {
  .benefitsRow6 > :global(.__wab_flex-container) > *,
  .benefitsRow6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .benefitsRow6 > :global(.__wab_flex-container) > picture > img,
  .benefitsRow6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 40px;
  }
}
@media (max-width: 520px) {
  .benefitsRow6 {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 520px) {
  .benefitsRow6 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 520px) {
  .benefitsRow6 > :global(.__wab_flex-container) > *,
  .benefitsRow6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .benefitsRow6 > :global(.__wab_flex-container) > picture > img,
  .benefitsRow6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 414px) {
  .benefitsRow6 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
  }
}
.priceCallout___65Nt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 800px) {
  .priceCallout___65Nt:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 800px) {
  .text__kfT5C {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2rem /* plasmic-token: TNrb_8Euqc0Ke */;
    line-height: 2.5rem;
  }
}
@media (max-width: 520px) {
  .text__kfT5C {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2.5rem /* plasmic-token: ZKDjlZy0Yze8e */;
    line-height: 2.75rem;
  }
}
.text___0Cey7 {
  color: #ffffff /* plasmic-token: yCQGfgbbPyigk */;
}
.priceCallout__deApt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 800px) {
  .priceCallout__deApt:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 800px) {
  .text___71G5X {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2rem /* plasmic-token: TNrb_8Euqc0Ke */;
    line-height: 2.5rem;
  }
}
.text___6SCd7 {
  color: #ffffff /* plasmic-token: yCQGfgbbPyigk */;
  padding-left: 0px;
}
.priceCallout__xDtuQ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 800px) {
  .priceCallout__xDtuQ:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 800px) {
  .text__bRXfD {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2rem /* plasmic-token: TNrb_8Euqc0Ke */;
    line-height: 2.5rem;
  }
}
.text___7Cymn {
  color: #ffffff /* plasmic-token: yCQGfgbbPyigk */;
}
.freeBox___1YhvE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___1YhvE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___1YhvE > :global(.__wab_flex-container) > *,
.freeBox___1YhvE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1YhvE > :global(.__wab_flex-container) > picture > img,
.freeBox___1YhvE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.pill6 {
  background: rgba(237, 215, 0, 1);
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  border-radius: 48px;
  padding: 12px 40px;
}
.pill6__celtics {
  background: #af8638;
}
.pill6__marlins {
  background: #ffffff;
}
.text__v4XWy {
  font-family: Roobert;
  font-weight: 500;
  font-size: 1rem /* plasmic-token: Y0fBsrBnjKGCH */;
  line-height: 1.5rem /* plasmic-token: QKQMM9fdGzQQ_ */;
  user-select: none;
  display: block;
  text-align: center;
  letter-spacing: 0.3px;
  color: rgba(23, 23, 23, 1);
  position: relative;
}
.text__celtics__v4XWyxtUvd {
  color: #ffffff /* plasmic-token: yCQGfgbbPyigk */;
}
.ratesTerms:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__n5HJi {
  position: relative;
  color: #fafafa /* plasmic-token: 7p6SpmMvhxHkQ */;
  padding-bottom: 0px;
  cursor: pointer;
}
.footer:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.img__fa0Z3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: none !important;
}
.img__fa0Z3 > picture > img {
  object-fit: cover;
}
.img__fa0Z3 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (max-width: 1280px) {
  .img__fa0Z3 {
    display: none !important;
  }
}
.img__fAGe {
  position: relative;
  object-fit: scale-down;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 1024px;
  min-height: 838px;
}
.img__fAGe > picture > img {
  object-fit: scale-down;
}
.img__fAGe > .__wab_img-spacer > img {
  object-fit: scale-down;
}
@media (max-width: 1280px) {
  .img__fAGe {
    left: auto;
    width: 960px;
    top: auto;
    display: none !important;
  }
}
@media (max-width: 960px) {
  .img__fAGe {
    width: 720px;
    left: auto;
    top: auto;
  }
}
@media (max-width: 800px) {
  .img__fAGe {
    left: auto;
    top: auto;
  }
}
@media (max-width: 520px) {
  .img__fAGe {
    min-height: 529px;
    width: 534px;
    left: auto;
    top: auto;
  }
}
