.root {
  width: auto;
  height: auto;
  display: inline-flex;
  overflow: visible;
  position: relative;
  flex-direction: row;
  border-radius: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
}
.root__cardLocations_left {
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
}
.root__cardLocations_left > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root__cardLocations_left > :global(.__wab_flex-container) > *,
.root__cardLocations_left
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.root__cardLocations_left > :global(.__wab_flex-container) > picture > img,
.root__cardLocations_left
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.root__cardLocations_bottom {
  height: auto;
  display: flex;
  flex-direction: column;
}
.root__cardLocations_bottom > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.root__cardLocations_bottom > :global(.__wab_flex-container) > *,
.root__cardLocations_bottom
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.root__cardLocations_bottom > :global(.__wab_flex-container) > picture > img,
.root__cardLocations_bottom
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 24px;
}
.root:hover {
  flex-direction: row-reverse;
}
.root:hover > :global(.__wab_flex-container) {
  align-items: stretch;
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root:hover > :global(.__wab_flex-container) > *,
.root:hover > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root:hover > :global(.__wab_flex-container) > picture > img,
.root:hover
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.root__cardLocations_left:hover {
  flex-direction: row;
  flex-grow: 0;
  overflow: visible;
  flex-shrink: 1;
}
.root__cardLocations_left:hover > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root__cardLocations_left:hover > :global(.__wab_flex-container) > *,
.root__cardLocations_left:hover
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.root__cardLocations_left:hover
  > :global(.__wab_flex-container)
  > picture
  > img,
.root__cardLocations_left:hover
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.root__cardLocations_bottom:hover {
  display: flex;
  flex-direction: column-reverse;
}
.root__cardLocations_bottom:hover > :global(.__wab_flex-container) {
  flex-direction: column-reverse;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.root__cardLocations_bottom:hover > :global(.__wab_flex-container) > *,
.root__cardLocations_bottom:hover
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.root__cardLocations_bottom:hover
  > :global(.__wab_flex-container)
  > picture
  > img,
.root__cardLocations_bottom:hover
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 24px;
}
.root__cardLocations_test:hover {
  flex-direction: row;
}
.root__cardLocations_test:hover > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root__cardLocations_test:hover > :global(.__wab_flex-container) > *,
.root__cardLocations_test:hover
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.root__cardLocations_test:hover
  > :global(.__wab_flex-container)
  > picture
  > img,
.root__cardLocations_test:hover
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__xwm47 {
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  left: 100%;
  top: 0px;
  display: none;
  padding: 0px;
  margin: 0px 20px 20px;
}
.freeBox__cardLocations_left__xwm47GmliM {
  left: auto;
  right: 100%;
  margin-top: calc(0px + 0px) !important;
  display: none;
}
.freeBox__cardLocations_bottom__xwm47FsAf {
  top: 100%;
  left: 0%;
  margin-left: calc(20px + 0px) !important;
  margin-top: calc(0px + 24px) !important;
}
.root:hover .freeBox__xwm47 {
  margin-top: calc(0px + 0px) !important;
  display: flex;
}
.root__cardLocations_left:hover .freeBox__cardLocations_left__xwm47GmliM {
  margin-top: calc(0px + 0px) !important;
}
.root__cardLocations_bottom:hover .freeBox__cardLocations_bottom__xwm47FsAf {
  margin-left: calc(20px + 0px) !important;
  margin-top: calc(0px + 24px) !important;
}
.root__cardLocations_right:hover .freeBox__cardLocations_right__xwm47RLZxV {
  margin-top: calc(0px + 0px) !important;
}
.root__cardLocations_test:hover .freeBox__cardLocations_test__xwm47ZuAAa {
  margin-top: calc(0px + 0px) !important;
}
.careersInfoCard__yhRp7:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  z-index: 5;
  height: auto;
  width: 285px;
  align-self: center;
  display: flex;
}
.careersInfoCard__cardLocations_bottom__yhRp7FsAf:global(.__wab_instance) {
  left: auto;
  top: auto;
}
.root__cardLocations_bottom:hover
  .careersInfoCard__cardLocations_bottom__yhRp7FsAf:global(.__wab_instance) {
  left: auto;
  top: auto;
}
.text__aOVry {
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__jgjgr {
  display: block;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: auto;
  height: auto;
  align-items: flex-start;
  justify-content: flex-start;
}
.freeBox__cardLocations_left__jgjgrGmliM {
  align-items: flex-start;
  justify-content: flex-end;
}
.root:hover .freeBox__jgjgr {
  align-items: center;
  justify-content: center;
}
.root__cardLocations_left:hover .freeBox__cardLocations_left__jgjgrGmliM {
  overflow: visible;
  align-items: stretch;
  justify-content: flex-end;
  display: block;
  flex-direction: row;
  flex-row-gap: 0px;
}
.img__tTWe {
  position: sticky;
  object-fit: cover;
  max-width: 100%;
  width: 160px;
  height: 240px;
  left: auto;
  top: 0px;
  z-index: 1;
  right: 0px;
  border-radius: 16px;
}
.img__tTWe > picture > img {
  object-fit: cover;
}
.img__tTWe > .__wab_img-spacer > img {
  object-fit: cover;
}
