.root {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 1px 2px rgba(197, 197, 197, 0.25));
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 360px;
  border-radius: 16px;
  padding: 24px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.image {
  background: none;
  height: 312px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  width: 312px;
  flex-shrink: 0;
  border-radius: 8px;
}
.img__mNvDz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 100%;
  height: 312px;
  min-width: 0;
  flex-shrink: 0;
}
.img__mNvDz > picture > img {
  object-fit: cover;
}
.img__mNvDz > .__wab_img-spacer > img {
  object-fit: cover;
}
.copy {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.copy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.copy > :global(.__wab_flex-container) > *,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy > :global(.__wab_flex-container) > picture > img,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.freeBox___4ZKjs {
  display: flex;
  align-self: flex-start;
  position: relative;
  flex-direction: row;
  height: auto;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
.slotTargetTitle {
  font-weight: 600;
  font-family: Roobert;
  font-size: 1.25rem /* plasmic-token: PY3Hc8Lr0BvSl */;
  line-height: 1.75rem /* plasmic-token: 57rI8Gh0DG5fU */;
  color: #181818 /* plasmic-token: HiHmSIXx2eHbj */;
  letter-spacing: 0px;
}
.freeBox__uCtUk {
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: row;
}
.slotTargetBody {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem /* plasmic-token: 0BevPDDGAEQe_ */;
  line-height: 1.5rem /* plasmic-token: QKQMM9fdGzQQ_ */;
  color: #767676 /* plasmic-token: oqlBjEs3KhsvV */;
  letter-spacing: 0px;
}
