.root {
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #ffffff;
  width: 100%;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
@media (max-width: 960px) {
  .root {
    width: auto;
    display: inline-flex;
  }
}
@media (max-width: 800px) {
  .root {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 800px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .root {
    height: auto;
  }
}
@media (max-width: 414px) {
  .root > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (max-width: 414px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.row0 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.row0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.row0 > :global(.__wab_flex-container) > *,
.row0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row0 > :global(.__wab_flex-container) > picture > img,
.row0 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
@media (max-width: 960px) {
  .row0 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 960px) {
  .row0 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.content5 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.content5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.content5 > :global(.__wab_flex-container) > *,
.content5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content5 > :global(.__wab_flex-container) > picture > img,
.content5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 414px) {
  .content5 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 4px);
    width: calc(100% + 4px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 414px) {
  .content5 > :global(.__wab_flex-container) > *,
  .content5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .content5 > :global(.__wab_flex-container) > picture > img,
  .content5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 4px;
    margin-top: 0px;
  }
}
.column1 {
  height: 80px;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.column1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.column1 > :global(.__wab_flex-container) > *,
.column1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column1 > :global(.__wab_flex-container) > picture > img,
.column1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 414px) {
  .column1 {
    display: none;
  }
}
.column2 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.column2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.column2 > :global(.__wab_flex-container) > *,
.column2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column2 > :global(.__wab_flex-container) > picture > img,
.column2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 414px) {
  .column2 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
.text__mveUw {
  font-family: Roobert;
  font-weight: 600;
  font-size: 1.5rem /* plasmic-token: UwEtUtVCTxzAc */;
  line-height: 2rem /* plasmic-token: KxpeV-D3olUUT */;
  letter-spacing: 0px;
  display: block;
  text-align: center;
  color: rgba(23, 23, 23, 1);
  position: relative;
}
@media (max-width: 800px) {
  .text__mveUw {
    font-family: Roobert;
    font-weight: 600;
    font-size: 1.13rem /* plasmic-token: Ph5eB48PW4HTW */;
    line-height: 1.5rem;
  }
}
@media (max-width: 414px) {
  .text__mveUw {
    font-family: Roobert;
    font-weight: 600;
    font-size: 1.13rem /* plasmic-token: Ph5eB48PW4HTW */;
    line-height: 1.5rem;
  }
}
.column3 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.column3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.column3 > :global(.__wab_flex-container) > *,
.column3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column3 > :global(.__wab_flex-container) > picture > img,
.column3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 414px) {
  .column3 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
.text__kTryx {
  font-family: Roobert;
  font-weight: 600;
  font-size: 1.5rem /* plasmic-token: UwEtUtVCTxzAc */;
  line-height: 2rem /* plasmic-token: KxpeV-D3olUUT */;
  letter-spacing: 0px;
  display: block;
  text-align: center;
  color: rgba(23, 23, 23, 1);
  position: relative;
}
@media (max-width: 800px) {
  .text__kTryx {
    font-family: Roobert;
    font-weight: 600;
    font-size: 1.13rem /* plasmic-token: Ph5eB48PW4HTW */;
    line-height: 1.5rem;
  }
}
@media (max-width: 414px) {
  .text__kTryx {
    font-family: Roobert;
    font-weight: 600;
    font-size: 1.13rem /* plasmic-token: Ph5eB48PW4HTW */;
    line-height: 1.5rem;
  }
}
.freeBox__oIgv {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 960px) {
  .freeBox__oIgv {
    width: 100%;
    min-width: 0;
  }
}
.svg__gkUrN {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #e5e5e5 /* plasmic-token: uXYZKOb1mG7Lb */;
  opacity: 0.75;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-0.057295760416576934deg) skew(-0.05729570311883569deg, 0deg);
  width: 100%;
  height: 1px;
  display: block;
  transform-origin: top left;
  align-self: stretch;
  left: 0px;
  top: 0px;
  min-width: 0;
}
.row6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.row6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.row6 > :global(.__wab_flex-container) > *,
.row6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row6 > :global(.__wab_flex-container) > picture > img,
.row6 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
@media (max-width: 960px) {
  .row6 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 960px) {
  .row6 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .row6 {
    height: auto;
  }
}
.content6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.content6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.content6 > :global(.__wab_flex-container) > *,
.content6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content6 > :global(.__wab_flex-container) > picture > img,
.content6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 414px) {
  .content6 {
    height: auto;
    flex-direction: row;
    display: flex;
  }
}
@media (max-width: 414px) {
  .content6 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: flex-end;
    flex-direction: row;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 414px) {
  .content6 > :global(.__wab_flex-container) > *,
  .content6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .content6 > :global(.__wab_flex-container) > picture > img,
  .content6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.column4 {
  height: 80px;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  align-self: auto;
  min-width: 0;
}
.column4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.column4 > :global(.__wab_flex-container) > *,
.column4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column4 > :global(.__wab_flex-container) > picture > img,
.column4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 414px) {
  .column4 {
    height: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .column4 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 0;
  }
}
.text___7QeYa {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem /* plasmic-token: 0BevPDDGAEQe_ */;
  line-height: 1.5rem /* plasmic-token: QKQMM9fdGzQQ_ */;
  display: block;
  letter-spacing: 0px;
  color: rgba(23, 23, 23, 1);
  align-self: stretch;
  position: relative;
}
@media (max-width: 520px) {
  .text___7QeYa {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
  }
}
@media (max-width: 414px) {
  .text___7QeYa {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
  }
}
.column5 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.column5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.column5 > :global(.__wab_flex-container) > *,
.column5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column5 > :global(.__wab_flex-container) > picture > img,
.column5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 414px) {
  .column5 {
    height: auto;
    width: 25%;
  }
}
@media (max-width: 414px) {
  .column5 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
.text__eyEow {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem /* plasmic-token: 0BevPDDGAEQe_ */;
  line-height: 1.5rem /* plasmic-token: QKQMM9fdGzQQ_ */;
  display: block;
  text-align: center;
  letter-spacing: 0px;
  color: #767676 /* plasmic-token: oqlBjEs3KhsvV */;
  position: relative;
  margin-right: 0px;
}
@media (max-width: 520px) {
  .text__eyEow {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
  }
}
@media (max-width: 414px) {
  .text__eyEow {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
  }
}
.column6 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.column6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.column6 > :global(.__wab_flex-container) > *,
.column6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column6 > :global(.__wab_flex-container) > picture > img,
.column6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 414px) {
  .column6 {
    height: auto;
    width: 25%;
  }
}
.text__m4JDw {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem /* plasmic-token: 0BevPDDGAEQe_ */;
  line-height: 1.5rem /* plasmic-token: QKQMM9fdGzQQ_ */;
  display: block;
  text-align: center;
  letter-spacing: 0px;
  color: #767676 /* plasmic-token: oqlBjEs3KhsvV */;
  position: relative;
}
@media (max-width: 520px) {
  .text__m4JDw {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
  }
}
@media (max-width: 414px) {
  .text__m4JDw {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
    padding-left: 0px;
    width: 100%;
    text-align: left;
    min-width: 0;
  }
}
.freeBox__wCpM4 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 960px) {
  .freeBox__wCpM4 {
    width: 100%;
    min-width: 0;
  }
}
.svg__mkUcd {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #e5e5e5 /* plasmic-token: uXYZKOb1mG7Lb */;
  opacity: 0.75;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-0.057295760416576934deg) skew(-0.05729570311883569deg, 0deg);
  width: 100%;
  height: 1px;
  display: block;
  transform-origin: top left;
  align-self: stretch;
  left: 0px;
  top: 0px;
  min-width: 0;
}
.row7 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.row7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.row7 > :global(.__wab_flex-container) > *,
.row7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row7 > :global(.__wab_flex-container) > picture > img,
.row7 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
@media (max-width: 960px) {
  .row7 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 960px) {
  .row7 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .row7 {
    height: auto;
    width: 100%;
    flex-direction: column;
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .row7 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    min-width: 0;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 414px) {
  .row7 > :global(.__wab_flex-container) > *,
  .row7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .row7 > :global(.__wab_flex-container) > picture > img,
  .row7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.content7 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.content7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.content7 > :global(.__wab_flex-container) > *,
.content7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content7 > :global(.__wab_flex-container) > picture > img,
.content7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 960px) {
  .content7 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 960px) {
  .content7 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .content7 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: calc(0px - 4px);
    width: calc(100% + 4px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 414px) {
  .content7 > :global(.__wab_flex-container) > *,
  .content7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .content7 > :global(.__wab_flex-container) > picture > img,
  .content7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 4px;
    margin-top: 16px;
  }
}
.column7 {
  height: 80px;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  align-self: auto;
  min-width: 0;
}
.column7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.column7 > :global(.__wab_flex-container) > *,
.column7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column7 > :global(.__wab_flex-container) > picture > img,
.column7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 414px) {
  .column7 {
    height: auto;
    width: 100%;
    flex-direction: column;
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .column7 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (max-width: 414px) {
  .column7 > :global(.__wab_flex-container) > *,
  .column7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column7 > :global(.__wab_flex-container) > picture > img,
  .column7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.text__dfCHj {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem /* plasmic-token: 0BevPDDGAEQe_ */;
  line-height: 1.5rem /* plasmic-token: QKQMM9fdGzQQ_ */;
  display: block;
  letter-spacing: 0px;
  color: rgba(23, 23, 23, 1);
  align-self: stretch;
  position: relative;
}
@media (max-width: 520px) {
  .text__dfCHj {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
  }
}
@media (max-width: 414px) {
  .text__dfCHj {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
    height: auto;
  }
}
.column8 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.column8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.column8 > :global(.__wab_flex-container) > *,
.column8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column8 > :global(.__wab_flex-container) > picture > img,
.column8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 414px) {
  .column8 {
    height: auto;
    width: 25%;
    flex-direction: column;
  }
}
@media (max-width: 414px) {
  .column8 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (max-width: 414px) {
  .column8 > :global(.__wab_flex-container) > *,
  .column8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column8 > :global(.__wab_flex-container) > picture > img,
  .column8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.text___6TtzL {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem /* plasmic-token: 0BevPDDGAEQe_ */;
  line-height: 1.5rem /* plasmic-token: QKQMM9fdGzQQ_ */;
  display: block;
  text-align: center;
  letter-spacing: 0px;
  color: #767676 /* plasmic-token: oqlBjEs3KhsvV */;
  position: relative;
}
@media (max-width: 520px) {
  .text___6TtzL {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
  }
}
.column9 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.column9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.column9 > :global(.__wab_flex-container) > *,
.column9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column9 > :global(.__wab_flex-container) > picture > img,
.column9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 414px) {
  .column9 {
    height: auto;
    width: 25%;
    flex-direction: column;
  }
}
@media (max-width: 414px) {
  .column9 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (max-width: 414px) {
  .column9 > :global(.__wab_flex-container) > *,
  .column9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column9 > :global(.__wab_flex-container) > picture > img,
  .column9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.text__tdWbL {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem /* plasmic-token: 0BevPDDGAEQe_ */;
  line-height: 1.5rem /* plasmic-token: QKQMM9fdGzQQ_ */;
  display: block;
  text-align: center;
  letter-spacing: 0px;
  color: #767676 /* plasmic-token: oqlBjEs3KhsvV */;
  position: relative;
}
@media (max-width: 520px) {
  .text__tdWbL {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
  }
}
.freeBox__auy6Z {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 960px) {
  .freeBox__auy6Z {
    width: 100%;
    min-width: 0;
  }
}
.svg__jiRc5 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #e5e5e5 /* plasmic-token: uXYZKOb1mG7Lb */;
  opacity: 0.75;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-0.057295760416576934deg) skew(-0.05729570311883569deg, 0deg);
  width: 100%;
  height: 1px;
  display: block;
  transform-origin: top left;
  align-self: stretch;
  left: 0px;
  top: 0px;
  min-width: 0;
}
.row8 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.row8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.row8 > :global(.__wab_flex-container) > *,
.row8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row8 > :global(.__wab_flex-container) > picture > img,
.row8 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
@media (max-width: 960px) {
  .row8 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 960px) {
  .row8 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.content8 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.content8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.content8 > :global(.__wab_flex-container) > *,
.content8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content8 > :global(.__wab_flex-container) > picture > img,
.content8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 960px) {
  .content8 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 960px) {
  .content8 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .content8 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 4px);
    width: calc(100% + 4px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 414px) {
  .content8 > :global(.__wab_flex-container) > *,
  .content8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .content8 > :global(.__wab_flex-container) > picture > img,
  .content8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 4px;
    margin-top: 16px;
  }
}
.column10 {
  height: 80px;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.column10 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.column10 > :global(.__wab_flex-container) > *,
.column10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column10 > :global(.__wab_flex-container) > picture > img,
.column10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 414px) {
  .column10 {
    height: auto;
  }
}
.text___45N8P {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem /* plasmic-token: 0BevPDDGAEQe_ */;
  line-height: 1.5rem /* plasmic-token: QKQMM9fdGzQQ_ */;
  display: block;
  letter-spacing: 0px;
  color: rgba(23, 23, 23, 1);
  align-self: stretch;
  position: relative;
}
@media (max-width: 520px) {
  .text___45N8P {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
  }
}
@media (max-width: 414px) {
  .text___45N8P {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
  }
}
.column11 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  filter: none;
  backdrop-filter: blur(0px);
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.column11 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.column11 > :global(.__wab_flex-container) > *,
.column11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column11 > :global(.__wab_flex-container) > picture > img,
.column11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 414px) {
  .column11 {
    width: 25%;
  }
}
@media (max-width: 414px) {
  .column11 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
.svg__iXeQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #f00303;
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
@media (max-width: 520px) {
  .svg__iXeQ {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .svg__iXeQ {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}
.column12 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.column12 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.column12 > :global(.__wab_flex-container) > *,
.column12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column12 > :global(.__wab_flex-container) > picture > img,
.column12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 414px) {
  .column12 {
    width: 25%;
  }
}
@media (max-width: 414px) {
  .column12 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
.svg__prNgN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: #767676 /* plasmic-token: oqlBjEs3KhsvV */;
  opacity: 1;
  flex-shrink: 0;
  display: block;
}
@media (max-width: 520px) {
  .svg__prNgN {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .svg__prNgN {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}
.freeBox__l9Mgb {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 960px) {
  .freeBox__l9Mgb {
    width: 100%;
    min-width: 0;
  }
}
.svg__eY8F {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #e5e5e5 /* plasmic-token: uXYZKOb1mG7Lb */;
  opacity: 0.75;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-0.057295760416576934deg) skew(-0.05729570311883569deg, 0deg);
  width: 100%;
  height: 1px;
  display: block;
  transform-origin: top left;
  align-self: stretch;
  left: 0px;
  top: 0px;
  min-width: 0;
}
.row9 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.row9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.row9 > :global(.__wab_flex-container) > *,
.row9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row9 > :global(.__wab_flex-container) > picture > img,
.row9 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
@media (max-width: 960px) {
  .row9 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 960px) {
  .row9 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.content9 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.content9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.content9 > :global(.__wab_flex-container) > *,
.content9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content9 > :global(.__wab_flex-container) > picture > img,
.content9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 414px) {
  .content9 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 4px);
    width: calc(100% + 4px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 414px) {
  .content9 > :global(.__wab_flex-container) > *,
  .content9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .content9 > :global(.__wab_flex-container) > picture > img,
  .content9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 4px;
    margin-top: 16px;
  }
}
.column13 {
  height: 80px;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.column13 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.column13 > :global(.__wab_flex-container) > *,
.column13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column13 > :global(.__wab_flex-container) > picture > img,
.column13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 414px) {
  .column13 {
    height: auto;
  }
}
.text__tXzVp {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem /* plasmic-token: 0BevPDDGAEQe_ */;
  line-height: 1.5rem /* plasmic-token: QKQMM9fdGzQQ_ */;
  display: block;
  letter-spacing: 0px;
  color: rgba(23, 23, 23, 1);
  align-self: stretch;
  position: relative;
}
@media (max-width: 520px) {
  .text__tXzVp {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
  }
}
@media (max-width: 414px) {
  .text__tXzVp {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
  }
}
.column14 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.column14 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.column14 > :global(.__wab_flex-container) > *,
.column14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column14 > :global(.__wab_flex-container) > picture > img,
.column14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 414px) {
  .column14 {
    width: 25%;
  }
}
@media (max-width: 414px) {
  .column14 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
.svg__wjYh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #f00303;
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
@media (max-width: 520px) {
  .svg__wjYh {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .svg__wjYh {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}
.column15 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.column15 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.column15 > :global(.__wab_flex-container) > *,
.column15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column15 > :global(.__wab_flex-container) > picture > img,
.column15
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 414px) {
  .column15 {
    width: 25%;
  }
}
@media (max-width: 414px) {
  .column15 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
.svg__lWuyt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: #767676 /* plasmic-token: oqlBjEs3KhsvV */;
  opacity: 1;
  flex-shrink: 0;
  display: block;
}
@media (max-width: 520px) {
  .svg__lWuyt {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .svg__lWuyt {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}
.freeBox__iOolj {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 960px) {
  .freeBox__iOolj {
    width: 100%;
    min-width: 0;
  }
}
.svg___5ZbS {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #e5e5e5 /* plasmic-token: uXYZKOb1mG7Lb */;
  opacity: 0.75;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-0.057295760416576934deg) skew(-0.05729570311883569deg, 0deg);
  width: 742px;
  height: 1px;
  display: block;
  transform-origin: top left;
  align-self: stretch;
  left: 0px;
  top: 0px;
}
.row10 {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  display: none;
}
.row10 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.row10 > :global(.__wab_flex-container) > *,
.row10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row10 > :global(.__wab_flex-container) > picture > img,
.row10 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
@media (max-width: 960px) {
  .row10 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 960px) {
  .row10 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.content10 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.content10 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.content10 > :global(.__wab_flex-container) > *,
.content10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content10 > :global(.__wab_flex-container) > picture > img,
.content10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 960px) {
  .content10 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 960px) {
  .content10 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .content10 {
    height: auto;
  }
}
@media (max-width: 414px) {
  .content10 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 4px);
    width: calc(100% + 4px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 414px) {
  .content10 > :global(.__wab_flex-container) > *,
  .content10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .content10 > :global(.__wab_flex-container) > picture > img,
  .content10
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 4px;
    margin-top: 16px;
  }
}
.column16 {
  height: 80px;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.column16 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.column16 > :global(.__wab_flex-container) > *,
.column16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column16 > :global(.__wab_flex-container) > picture > img,
.column16
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 414px) {
  .column16 {
    height: auto;
  }
}
.text__vnaS {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem /* plasmic-token: 0BevPDDGAEQe_ */;
  line-height: 1.5rem /* plasmic-token: QKQMM9fdGzQQ_ */;
  display: block;
  letter-spacing: 0px;
  color: rgba(23, 23, 23, 1);
  align-self: stretch;
  position: relative;
}
@media (max-width: 520px) {
  .text__vnaS {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
  }
}
@media (max-width: 414px) {
  .text__vnaS {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
    height: auto;
  }
}
.column17 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.column17 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.column17 > :global(.__wab_flex-container) > *,
.column17 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column17 > :global(.__wab_flex-container) > picture > img,
.column17
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 414px) {
  .column17 {
    width: 25%;
  }
}
@media (max-width: 414px) {
  .column17 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
.svg__st9Wn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #f00303;
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
@media (max-width: 520px) {
  .svg__st9Wn {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .svg__st9Wn {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}
.column18 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.column18 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.column18 > :global(.__wab_flex-container) > *,
.column18 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column18 > :global(.__wab_flex-container) > picture > img,
.column18
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 414px) {
  .column18 {
    width: 25%;
  }
}
@media (max-width: 414px) {
  .column18 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
.svg__vbNh3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: #767676 /* plasmic-token: oqlBjEs3KhsvV */;
  opacity: 1;
  flex-shrink: 0;
  display: block;
}
@media (max-width: 520px) {
  .svg__vbNh3 {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .svg__vbNh3 {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}
.freeBox___1Fkvz {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 960px) {
  .freeBox___1Fkvz {
    width: 100%;
    min-width: 0;
  }
}
.svg__nmjts {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #e5e5e5 /* plasmic-token: uXYZKOb1mG7Lb */;
  opacity: 0.75;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-0.057295760416576934deg) skew(-0.05729570311883569deg, 0deg);
  width: 100%;
  height: 1px;
  display: block;
  transform-origin: top left;
  align-self: stretch;
  left: 0px;
  top: 0px;
  min-width: 0;
}
.row11 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.row11 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.row11 > :global(.__wab_flex-container) > *,
.row11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row11 > :global(.__wab_flex-container) > picture > img,
.row11 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
@media (max-width: 960px) {
  .row11 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 960px) {
  .row11 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.content11 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.content11 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.content11 > :global(.__wab_flex-container) > *,
.content11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content11 > :global(.__wab_flex-container) > picture > img,
.content11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 960px) {
  .content11 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 960px) {
  .content11 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__xfSqF {
  height: 80px;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__xfSqF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__xfSqF > :global(.__wab_flex-container) > *,
.freeBox__xfSqF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xfSqF > :global(.__wab_flex-container) > picture > img,
.freeBox__xfSqF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 414px) {
  .freeBox__xfSqF {
    height: auto;
  }
}
.text__oYqgs {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem /* plasmic-token: 0BevPDDGAEQe_ */;
  line-height: 1.5rem /* plasmic-token: QKQMM9fdGzQQ_ */;
  display: block;
  letter-spacing: 0px;
  color: #8a8a8a /* plasmic-token: i_nWIql8xUFNS */;
  align-self: stretch;
  position: relative;
}
@media (max-width: 520px) {
  .text__oYqgs {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
  }
}
@media (max-width: 414px) {
  .text__oYqgs {
    font-size: 0.88rem /* plasmic-token: iVhB21bC_W0v_ */;
  }
}
.freeBox__mfsOg {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__mfsOg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__mfsOg > :global(.__wab_flex-container) > *,
.freeBox__mfsOg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mfsOg > :global(.__wab_flex-container) > picture > img,
.freeBox__mfsOg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 414px) {
  .freeBox__mfsOg {
    display: none;
  }
}
.freeBox__iWfFx {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__iWfFx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__iWfFx > :global(.__wab_flex-container) > *,
.freeBox__iWfFx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iWfFx > :global(.__wab_flex-container) > picture > img,
.freeBox__iWfFx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 414px) {
  .freeBox__iWfFx {
    display: none;
  }
}
