.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.paddingWrapper:global(.__wab_instance) {
  position: relative;
  margin-top: calc(192px + 0px) !important;
  margin-bottom: 192px;
}
.freeBox {
  max-width: 1128px;
  flex-grow: 0;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.title {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.title > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.title > :global(.__wab_flex-container) > *,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title > :global(.__wab_flex-container) > picture > img,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
.text__nverz {
  font-family: Roobert;
  font-weight: 800;
  font-size: 3rem /* plasmic-token: V8mbuBXnxL-e0 */;
  line-height: 3.5rem /* plasmic-token: i0Vn5HaHJ81mA */;
  letter-spacing: 0px;
  width: 100%;
  height: auto;
  text-align: center;
  color: #181818 /* plasmic-token: HiHmSIXx2eHbj */;
  min-width: 0;
}
@media (max-width: 800px) {
  .text__nverz {
    font-family: Roobert;
    font-weight: 700;
    font-size: 2rem /* plasmic-token: TNrb_8Euqc0Ke */;
    line-height: 2.5rem;
  }
}
.segmentControl:global(.__wab_instance) {
  position: relative;
}
.officeBenefits {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.officeBenefits > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.officeBenefits > :global(.__wab_flex-container) > *,
.officeBenefits > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.officeBenefits > :global(.__wab_flex-container) > picture > img,
.officeBenefits
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__jCx5V {
  font-weight: 600;
  font-family: Roobert;
  font-size: 1.25rem /* plasmic-token: PY3Hc8Lr0BvSl */;
  line-height: 1.75rem /* plasmic-token: 57rI8Gh0DG5fU */;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  color: #8a8a8a /* plasmic-token: i_nWIql8xUFNS */;
  margin-bottom: 0px;
  margin-top: calc(0px + 24px) !important;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 800px) {
  .text__jCx5V {
    font-family: Roobert;
    font-weight: 600;
    font-size: 1.13rem /* plasmic-token: Ph5eB48PW4HTW */;
    line-height: 1.5rem;
    margin-top: calc(0px + 24px) !important;
  }
}
.text__office__jCx5VxPVp7 {
  margin-top: calc(0px + 24px) !important;
}
.columns__jqxpK {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.columns__jqxpK > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.columns__jqxpK > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__jqxpK > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__jqxpK > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__jqxpK > :global(.__wab_flex-container) > *,
.columns__jqxpK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__jqxpK > :global(.__wab_flex-container) > picture > img,
.columns__jqxpK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (max-width: 1280px) {
  .columns__jqxpK {
    flex-direction: row;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1280px) {
  .columns__jqxpK > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 1280px) {
  .columns__jqxpK > :global(.__wab_flex-container) > :nth-child(3n + 1) {
    width: calc((100% - 3 * 24px) * 4 / 12);
  }
}
@media (max-width: 1280px) {
  .columns__jqxpK > :global(.__wab_flex-container) > :nth-child(3n + 2) {
    width: calc((100% - 3 * 24px) * 4 / 12);
  }
}
@media (max-width: 1280px) {
  .columns__jqxpK > :global(.__wab_flex-container) > :nth-child(3n + 3) {
    width: calc((100% - 3 * 24px) * 4 / 12);
  }
}
@media (max-width: 960px) {
  .columns__jqxpK {
    flex-direction: row;
  }
}
@media (max-width: 960px) {
  .columns__jqxpK > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 960px) {
  .columns__jqxpK > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 24px) * 6 / 12);
  }
}
@media (max-width: 960px) {
  .columns__jqxpK > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 24px) * 6 / 12);
  }
}
@media (max-width: 520px) {
  .columns__jqxpK {
    flex-direction: row;
  }
}
@media (max-width: 520px) {
  .columns__jqxpK > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (max-width: 520px) {
  .columns__jqxpK > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
@media (max-width: 520px) {
  .columns__jqxpK > :global(.__wab_flex-container) > *,
  .columns__jqxpK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__jqxpK > :global(.__wab_flex-container) > picture > img,
  .columns__jqxpK
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
.columns__office__jqxpKxPVp7
  > :global(.__wab_flex-container)
  > :nth-child(3n + 1) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__office__jqxpKxPVp7
  > :global(.__wab_flex-container)
  > :nth-child(3n + 2) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__office__jqxpKxPVp7
  > :global(.__wab_flex-container)
  > :nth-child(3n + 3) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
@media (max-width: 800px) {
  .columns__office__jqxpKxPVp7 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 24px);
    width: calc(100% + 24px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (max-width: 800px) {
  .columns__office__jqxpKxPVp7
    > :global(.__wab_flex-container)
    > :nth-child(2n + 1) {
    width: calc((100% - 2 * 24px) * 6 / 12);
  }
}
@media (max-width: 800px) {
  .columns__office__jqxpKxPVp7
    > :global(.__wab_flex-container)
    > :nth-child(2n + 2) {
    width: calc((100% - 2 * 24px) * 6 / 12);
  }
}
@media (max-width: 800px) {
  .columns__office__jqxpKxPVp7 > :global(.__wab_flex-container) > *,
  .columns__office__jqxpKxPVp7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .columns__office__jqxpKxPVp7 > :global(.__wab_flex-container) > picture > img,
  .columns__office__jqxpKxPVp7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 24px;
    margin-top: 24px;
  }
}
@media (max-width: 414px) {
  .columns__office__jqxpKxPVp7
    > :global(.__wab_flex-container)
    > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
.column__wgwZl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}
.benefitCallOut__mBnsQ:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uQh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
}
.column__m5T6A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.benefitCallOut__sUzTk:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9Pzex {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
}
.column__j5Mr8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.otherBenefits {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-right: 0%;
  margin-left: 0%;
  width: 100%;
  min-width: 0;
}
.otherBenefits > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.otherBenefits > :global(.__wab_flex-container) > *,
.otherBenefits > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.otherBenefits > :global(.__wab_flex-container) > picture > img,
.otherBenefits
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__bQbmO {
  font-weight: 600;
  font-family: Roobert;
  font-size: 1.25rem /* plasmic-token: PY3Hc8Lr0BvSl */;
  line-height: 1.75rem /* plasmic-token: 57rI8Gh0DG5fU */;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  color: #8a8a8a /* plasmic-token: i_nWIql8xUFNS */;
  margin-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 800px) {
  .text__bQbmO {
    font-family: Roobert;
    font-weight: 600;
    font-size: 1.13rem /* plasmic-token: Ph5eB48PW4HTW */;
    line-height: 1.5rem;
  }
}
.columns__ddWnq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.columns__ddWnq > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.columns__ddWnq > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__ddWnq > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__ddWnq > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__ddWnq > :global(.__wab_flex-container) > *,
.columns__ddWnq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ddWnq > :global(.__wab_flex-container) > picture > img,
.columns__ddWnq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 24px;
}
@media (max-width: 1280px) {
  .columns__ddWnq {
    flex-direction: row;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1280px) {
  .columns__ddWnq > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 1280px) {
  .columns__ddWnq > :global(.__wab_flex-container) > :nth-child(3n + 1) {
    width: calc((100% - 3 * 24px) * 4 / 12);
  }
}
@media (max-width: 1280px) {
  .columns__ddWnq > :global(.__wab_flex-container) > :nth-child(3n + 2) {
    width: calc((100% - 3 * 24px) * 4 / 12);
  }
}
@media (max-width: 1280px) {
  .columns__ddWnq > :global(.__wab_flex-container) > :nth-child(3n + 3) {
    width: calc((100% - 3 * 24px) * 4 / 12);
  }
}
@media (max-width: 960px) {
  .columns__ddWnq {
    flex-direction: row;
  }
}
@media (max-width: 960px) {
  .columns__ddWnq > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 960px) {
  .columns__ddWnq > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 24px) * 6 / 12);
  }
}
@media (max-width: 960px) {
  .columns__ddWnq > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 24px) * 6 / 12);
  }
}
@media (max-width: 520px) {
  .columns__ddWnq {
    flex-direction: row;
  }
}
@media (max-width: 520px) {
  .columns__ddWnq > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 520px) {
  .columns__ddWnq > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
.column__y2Lm9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}
.benefitCallOut__mjE25:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 228px;
  min-width: 0;
  flex-shrink: 0;
}
.text__x4QlK {
  padding-top: 0px;
}
.svg__rz1T8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
}
.column___5AFq5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.benefitCallOut__jy8Wg:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  width: 100%;
  min-width: 0;
}
.svg__jxZkr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
}
.column__ds2VT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.benefitCallOut__eqv66:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  width: 100%;
  min-width: 0;
}
.svg__dXbRi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
}
.column___9WZjr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.benefitCallOut__oLy8:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 228px;
  min-width: 0;
  flex-shrink: 0;
}
.svg__pKFq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
}
